[2015-02-09 20:34] benpatterson opened #4 "Html reporter can have trouble with binary files"
Hi! - I spent a bit time looking at this today, but unfortunately I'm out of time.

We had a PR today ( edx/edx-platform#6921 ) which introduced some binary files (including .bcmap and .png). These ended up causing failures when running diff-quality with the --html-report flag. (Without the flag, there are no errors). See console output here: https://build.testeng.edx.org/job/edx-platform-all-test

[2015-02-17 21:38] sarina commented on #4
@Bachmann1234 do you have any idea how we might fix this? It's blocking some work for us, since it's borking the build (ref https://github.com/edx/edx-platform/pull/6921 )

[2015-02-17 21:44] Bachmann1234 commented on #4
@sarina oh jeez I had not fully grasp this was blocking and have not given this much time yet. Ill dig into this tonight.

[2015-02-17 21:47] sarina commented on #4
@Bachmann1234 I might be able to give it some time in a few days, if you can't. Just wondering if you have a thought at where to start... heh.

[2015-02-17 22:03] Bachmann1234 commented on #4
Well ill give you my theory then.

So this explodes here: https://github.com/Bachmann1234/diff-cover/blob/master/diff_cover/snippets.py#L155

And it explodes trying to decode utf-8 output

What this tells me as that ```detect_encoding``` is detecting utf-8 but the encoding is something else.

There might be a way of checking the metadata of the file to see what encoding it was saved in... but more

[2015-02-17 22:08] Bachmann1234 commented on #4
Of course... if it is a binary file any encoding would be wrong and we should not include it in the report

[2015-02-17 22:09] sarina commented on #4
Yeah - I think that's the solution I really want, to just *not* try to run diff-cover on a binary file... :disappointed:

[2015-02-17 22:10] Bachmann1234 commented on #4
@sarina yep, to reproduce this I would look at the bcmap files in pdf.js. thats my hunch

[2015-02-17 22:21] Bachmann1234 commented on #4
Oh and one more thing. I checked out that branch just now and ran git stat on it to see the files that changed as github was chocking under the load.

https://gist.github.com/Bachmann1234/cb957e80010b0e063a05

No python files. Unless i'm missing something the real question may be how pep8 found a violation to include in a snippet in the first place

[2015-02-18 00:34] Bachmann1234 commented on #4
@sarina im having trouble reproducing this
If you get stuck can you get me these pep8 reports?
[code]

[2015-02-18 00:47] benpatterson commented on #4
@Bachmann1234 @sarina For what it's worth, when I was reproducing this on the affected branch a couple of weeks ago, diff-quality was reporting 100% coverage...no violations for pep8 at the time. Even so, rendering the html report was problematic.

For the build pasted above, the .report files are empty for pep8. That is normal in a pull request that is keeping our pep8 violations at zero.

[2015-02-18 03:35] Bachmann1234 commented on #4
Hmm, this is a pickle

So I tried to recreate this by just using the diff in the PR (grabed platform and the remote. Went to that branch and ran diff)

This was the report i got out.

https://gist.github.com/Bachmann1234/b7c67b6d7fb38e57880e

[2015-02-20 13:53] benpatterson commented on #4
Yeah that looks pretty a-ok. Sorry this is so hard to reproduce :( Maybe someone will check in a .exe and then we'll have another example :\

[2015-02-21 21:30] Bachmann1234 commented on #4
@sarina @benpatterson so I was thinking. I could make a branch that simply wraps that line with a try catch to find out exactly what file is causing it to choke on your build server.

Also, it would unblock that PR since it would run

[2015-02-25 15:17] sarina commented on #4
We've decided to not let the quality issue actually block the PR. but would
be good at some point to fix this.

On Sat, Feb 21, 2015 at 4:30 PM, Matt Bachmann <notifications@github.com>
wrote:

[2015-02-25 15:20] Bachmann1234 commented on #4
@sarina alrighty. Ill make another attempt to reproduce this sometime this week.

[2015-03-03 15:59] nedbat opened #5 "When running pylint, diff-cover will complain about ignored files"
When diff-cover runs pylint itself (rather than operating on previously created reports), it runs pylint once per changed file.  One of those files could be an ignored file, because it's matched by the `[MASTER] ignored=` setting in the pylintrc file.  In that case, pylint doesn't ignore the file because the explicit file name on the command line overrides the `ignored` setting in the rc file.

As

[2015-03-03 16:01] nedbat opened #6 "It isn't clear that edx/diff-cover is obsolete"
There are commits on edx/diff-cover since the shift over to this repo.  Those commits look like duplicates of ones made here.  There are also issues opened on the edx/diff-cover repo.  Shouldn't we close that repo completely?

[2015-03-03 16:38] nedbat opened #7 "Running tox looks like it fails, but it succeeds?"
I ran tox, and got this output:
[code]

There are many instances of nose complaining about bad arguments, but the test suite claims everything passed.  Maybe that nose output should be suppressed?

[2015-03-03 17:22] Bachmann1234 commented on #6
Ive mostly left the edX repo alone. No more commits will be happening there. There was just a bit of a transition as I was unsure how that repo would be decommissioned.

I will close the issues over there. Any future issues and PRs I will redirect to my repo. If edX wants to close the repo that is on them, the risk though is that outside resources link to the edX repo.

[2015-03-03 17:25] Bachmann1234 opened #8 "Clearly demonstrate diff-cover is language indepenedent"
Recreating https://github.com/edx/diff-cover/issues/109

Basically diff-cover diff-quality is not linked to a specific language. But, due to the initial use case we have focused on python. It would be nice to generalize diff-quality to show this.

Also, tests with other languages can be put in to show that diff-cover works with other languages.

[2015-03-03 17:26] Bachmann1234 commented on #7
I have an idea what test is doing this. Ill try and find time this week to dig into it

[2015-03-03 17:27] Bachmann1234 commented on #5
Pylint has been a pain :-P ill look into this when I get a chance.

[2015-03-04 02:47] Bachmann1234 commented on #6
Closed the issues, no future commits will go there.

Think that is all I can do. Thoughts?

[2015-03-04 03:58] Bachmann1234 commented on #7
Ok, I verified that the output you were seeing was not actually a problem we were ignoring and found a functional way to make sure it does not confuse the test run output. Ill leave the PR up for a bit and merge it if any of the watchers feel like reviewing it

[2015-03-04 04:02] Bachmann1234 commented on #8
Part of 'solving' this issue is that diff-quality needs a plugin system rather than just embedding each tool

[2015-03-07 23:24] #7 closed

[2015-03-07 23:25] #6 closed

[2015-04-29 11:46] dreamwalker commented on #8
Maybe a config file would be enough?
Tools configuration consists only of three strings after all.

[2015-04-30 02:57] Bachmann1234 commented on #8
@dreamwalker is is true for many tools. But pylint, for example, needs more than that. Other tools may do all sort of wild things.

[2015-04-30 06:29] dreamwalker commented on #8
So, maybe two solutions? Plugins for complex cases, config for simplier?
We could then move the current configs to example config files and move the settings out of codebase.
Also - as I can see, pylint needs additional code because of multi-line violations. Maybe we could move it to the main class to support other checkers with this kind of logs?
And by we I mean I also can do it :) (e.g. during

[2015-04-30 17:30] Bachmann1234 commented on #8
Perhaps! I have not moved forward on this because I have not needed any additional checkers. If you got the drive to whip something up ill absolutely look at it and consider merging it in.

I suspect we may have to leave the existing items in as is to we dont break things for existing users. But who knows!

[2015-09-10 11:12] ezequielo opened #16 "Hg support"
Hi,

I would like to know if there is any plan of giving support for mercurial (hg). Would it be difficult to implement this upgrade in a fork and then try to submit the code to the original project.

At my organization, we use Bitbucket + hg and we would love to introduce something like a pep8/coverage checked for a diff, and this is the most interesting tool I have seen so far.

Thanks

[2015-09-10 14:00] Bachmann1234 commented on #16
Ive considered hg support but as I don't really use HG I did not pursue it too far.

Ill try to investigate the work involved again. It should totally be possible.

[2015-09-11 01:43] Bachmann1234 commented on #16
yeah, this would be a decent amount of work but should be possible. I might be able to work on this but I cannot promise anything in the near term. PRs welcome if you or someone else takes this on.

[2015-09-11 09:26] ezequielo commented on #16
Well, I havent really delve into code so I'm not sure how to change it right now. I guess I would have to add the hg diff part and maybe perform some little changes in other files. Can you give me more details about how it works and what files should be updated? thanks

[2015-09-11 23:42] Bachmann1234 commented on #4
Its been a while, has this issue ever come up again?

[2015-09-12 00:11] Bachmann1234 commented on #16
Sure

So at a high level this is how diff cover works.

Using the subprocess module diff-cover runs git commands to get the diff and find out information the project.

By parsing that output and comparing it to the output of a quality command like pep8 or a coverage report it can give the status of the lines that changed by ignoring the lines that have not.

It relies on the following commands.

`

[2015-09-12 00:23] sarina commented on #4
No but I suspect it's because we infrequently commit binary files.
On Sep 11, 2015 7:42 PM, "Matt Bachmann" <notifications@github.com> wrote:

[2015-09-12 09:29] evanunderscore opened #17 "diff-cover fails with no message on Windows"
Running `diff-cover` ends up calling `tool.py` which examines `sys.argv[0]` to see if it ends with `diff-cover` or `diff-quality`. For me, this is actually `C:\Python27\Scripts\diff-cover-script.py`, so nothing happens.

[2015-09-12 21:07] Bachmann1234 commented on #17
Interesting! Ill look into this asap. Should be an easy fix

[2015-09-12 21:47] Bachmann1234 commented on #17
Howdy!

Can you give the new version a shot? https://pypi.python.org/pypi/diff_cover

The script should run now. I tested it on a Windows 10 environment. However I wanna set some expectations. All I did was ensure it runs. I am a bit worried there will be other issues due to the way paths work. Can you let me know if you have any other issues?

[2015-09-13 00:32] evanunderscore commented on #17
Thanks! This sorted it out.

I'm using this with luacov which gave me some odd output for my paths (like `.\src/test.lua`) so I had to do a little bit of post-processing and call `os.path.normpath` (to make `src\test.lua`). I haven't looked at how this works internally but if that's a simple fix for you that would be great.

[2015-09-13 00:44] Bachmann1234 commented on #17
Sure! Ill look some time in the next couple days

[2015-09-13 00:49] Bachmann1234 commented on #17
Is the project something you can share btw? Or at least the coverage report you used with diff-cover? Could help tracking this down.

[2015-09-13 01:30] evanunderscore commented on #17
It looks like it's expecting the paths with backslashes because GitPathTool calls `os.path.relpath` which will normalise the paths. I changed `clazz.get('filename') == src_rel_path` to `os.path.normpath(clazz.get('filename')) == src_rel_path` in `violations_reporter.py` and that seems to fix the problem for me.

I'm just using a test project to see if I can get bunch of tools working together. I'l

[2015-09-13 02:12] evanunderscore commented on #17
I've pushed up the test project to https://github.com/evanunderscore/gideros_coverage_test. The only thing you should need to run it is Python and Lua.

[2015-09-13 04:18] evanunderscore commented on #17
For reference, I'm running `git version 1.9.5.msysgit.0` (from cmd, not Git Bash).

[2015-09-13 04:37] evanunderscore commented on #17
Perhaps it would be nice to generate a list of all files in the repository and warn if any of the files in the coverage report aren't found. This would also give a more helpful message for the first issue in the troubleshooting section where the coverage report was generated from a different working directory.

[2015-09-14 17:29] benpatterson commented on #4
Same as @sarina . I haven't seen it, but haven't been seeing too many binaries come by. I've attempted to reproduce it a few times by creating tars, zips and whatnot, but no luck. It was consistently happening when I reported it--on multiple systems, etc. But...no dice otherwise.

[2015-09-14 23:01] Bachmann1234 commented on #17
im not done looking at this yet, but I am seeing something that makes me think luacov has a bit of a problem

So the paths im seeing in the report are inconsistent

[code]

[code]

See how in one its \ and another its / ?

Which sounds like a bug in luacov. *However* I wanna see if I can deal with this inconsistency. I should be able to normalize the paths `os.path.normpath` (thanks for that btw,

[2015-09-15 01:12] Bachmann1234 commented on #17
and the diff
[code]

[2015-09-15 02:23] Bachmann1234 commented on #17
@evanunderscore this issue is fixed in this pr https://github.com/Bachmann1234/diff-cover/pull/19 im holding off a bit for release to see if diff-cover's major user wants to review it.

[2015-09-15 10:04] evanunderscore commented on #17
Thanks for the quick fix! This behaviour does seem to be a bug with luacov. It looks like it builds paths with the native separator but leaves any existing slashes alone. Regardless, diff-cover appears to be handling all cases now.

[2015-09-15 10:49] evanunderscore commented on #17
Had a quick look over the changes and left a couple of comments. Hope you don't mind.

[2015-09-15 12:08] Bachmann1234 commented on #17
Of course not! It looks like you caught some sloppiness on my part

[2015-09-15 14:12] Bachmann1234 commented on #17
Im going to close this, we are continuing the discussion on paths in the pr https://github.com/Bachmann1234/diff-cover/pull/19

and the issue that started this is fixed

[2015-09-15 14:12] #17 closed

[2015-09-17 02:56] Bachmann1234 commented on #4
Odd, ok. Closing this now . If you ever find another example let me know.

[2015-09-17 02:56] #4 closed

[2015-11-30 20:30] dashea opened #24 "`from lazy import lazy` is broken in Python 3.5"
3.5 changed the semantics of import a little bit, one result being that the way lazy sets itself up is no longer what is expected. `from lazy import lazy` ends up with the module lazy.lazy loaded as "lazy" instead of the class within that module, and diff-cover now crashes with "TypeError: 'module' object is not callable"

I've opened a PR to fix lazy at https://github.com/stefanholek/lazy/pull/3

[2015-11-30 20:36] Bachmann1234 commented on #24
Thanks for the heads up. Ill try to look into this asap. Lazy came into the project before I took it over so I gotta experiment a bit with it. Im a little frustrated my tests are not picking it up... im guessing tox does not have 3.5 in there.

[2015-11-30 20:37] Bachmann1234 commented on #24
Ah, yeah... its not there. Ok. ill add it and fix this sometime this week. Maybe even tonight. No promises though

[2015-12-01 04:59] Bachmann1234 commented on #24
@dashea try out 0.8.5

I just dropped lazy as it was not used too much and it was not too hard to just.... do it.

[2015-12-01 14:13] dashea commented on #24
Perfect, thanks.

[2015-12-01 14:13] #24 closed

[2015-12-15 22:04] simon-weber opened #26 "option to provide diff"
On our CI servers we usually download our code via github archive links instead of maintaining a local clone. This is incompatible with diff-cover, which requires a local clone with history.

What do you think about an interface that allows the diff to be passed in? That'd let us fetch it from the github api (and may also help with supporting other diff providers, like https://github.com/Bachmann1

[2015-12-16 17:19] Bachmann1234 commented on #26
I love this idea. Is this something you would be interested in adding? Otherwise I can probably add it sometime soon. I don't think it would be too difficult.

[2015-12-16 19:15] simon-weber commented on #26
There's a chance I'll get to it on Friday, but if not I probably wouldn't until the new year.

How about we post here if either of us start on it so we don't duplicate work?

[2015-12-16 19:27] Bachmann1234 commented on #26
Sounds like a plan :-)

[2015-12-17 06:34] backupProject commented on #17
[regression]
The diff_cover-0.8.5 fails again with no message on Windows.
I have compared the code of diff_cover-0.8.5 and diff_cover-0.8.2, and the difference of 'diff_cover/tool.py' is as follow:
tool.py of diff_cover-0.8.2:
line-234 if 'diff-cover' in progname:

tool.py of diff_cover-0.8.5:
line-234 if progname.endswith('diff-cover'):

I think diff_cover-0.8.5 should be same as diff_cover-0.8.2

[2015-12-17 07:54] evanunderscore commented on #17
The problem is that this may or may not have the path and the `.py` extension. To do this properly it should probably use `os.path.basename` and `os.path.splitext`, and also print some kind of error message if it doesn't match a known name. I'm happy to submit a fix if you like.

[2015-12-17 07:59] backupProject opened #27 "if the absolute path of the git repository have a blank space, the git_root in diff_cover\git_path.py will be wrong"
Currently, the git_root in diff_cover\git_path.py is as follow:
[ver 0.8.5]
line- 68 git_root = stdout.split()[0] if stdout else u''

if the absolute path of the git repository have a blank space, for example,
it is "C:\Users\Work Module\test", git_root will be "C:\Users\Work", but git_root should be "C:\Users\Work Module\test" in fact.

I think the code should be git_root = stdout.split('\n')[0]

[2015-12-17 15:02] Bachmann1234 commented on #27
I will take a look asap. Thanks for letting me know

[2015-12-18 02:01] backupProject commented on #27
It is my pleasure.

[2015-12-18 02:05] backupProject commented on #17
Yes, it is a good idea to print some error message.

[2015-12-18 03:11] Bachmann1234 commented on #27
Should be fixed in https://pypi.python.org/pypi/diff_cover/0.8.6

[2015-12-18 03:11] #27 closed

[2016-01-04 23:44] butla opened #31 "diff-quality won't fail on new Pylint issues?"
I want my full test suite to fail when a new pylint problem is introduced.

So I've introduced a function calledLikeThis() which got me a nice
`C:112, 4: Invalid method name "calledLikeThis" (invalid-name)`
in the worktree, ran my tests, pylint, etc. and then
`diff-quality --violations=pylint pylint_report.txt --fail-under=100`
But it returns 0 instead of some error code.

Am I doing something wro

[2016-01-05 00:56] Bachmann1234 commented on #31
Ill see if I can reproduce this. What you have there looks right to me. PyLint seems to be somewhat flawed in diff-quality. Hopefully I can figure this out sometime this week

[2016-01-05 04:00] Bachmann1234 commented on #31
Howdy.

I reproduced this issue. It seems passing in the report is breaking fail under which make me sad :-(

I verified that not passing in the report works as expected

[code]

I will will try to get a fix out to this quickly.

[2016-01-05 05:27] Bachmann1234 commented on #31
@butla hey, I realized that the problem could be how the pylint report was generated. Diff-quality depends on a very specific way of running the report to have a chance of working correctly. (honestly I probably should not allow people to pass in reports at all because of this.... sorry.)

So when you dont pass in the report diff-quality will run on individual files with this command

pylint --msg

[2016-01-06 01:22] butla commented on #31
Hey, thanks for the answer. It works! :)
I only have two issues with this:
* I'd also want to be able to see the old (not the newly introduced ones) pylint issues.
* Is there some way to exclude a folder from being checked? In my [current setup](https://github.com/butla/PyDAS/blob/master/tox.ini#L24) I don't run Pylint on my tests.

Also, I've made a very crude "pylint-diff-quality.sh" for my use:

[2016-01-06 04:04] Bachmann1234 commented on #31
By default diff-cover should reach out to origin and I dont *think* you need to pull it down. I inherited the codebase so I am still leaning things.

Diff-cover/diff-quality are designed to only work on changes so for the full report I think you just need to run pylint directly.

Finally for excluding a folder see if there is something that can go into your pylintrc file. I believe diff-quality re

[2016-01-06 15:53] butla commented on #31
Pylint needs to be used on a Python package or module. "ignore" in .pylintrc can be used to skip something in that selected context. If diff-quality runs on every file by itself then cutting out a module is unfeasible. But I'm no expert, I'm just telling you what I've worked out :)

I've also tried running diff-quality only in the folder that I want checked... It doesn't seem to detect any problem

[2016-01-06 16:18] mwykes opened #32 "diff-quality not picking up quality issues"
I've just tried diff-quality for the first time and can't get it to work as expected - it does not pick up problems in style which I see when I run pep8 on the whole file (and on the git diff file).

[code]

But if I use git diff to make a file containing the differing lines, and run pep8 on that, it finds style errors I'm expecting, in this case E231 missing whitespace after ',' (as well as error

[2016-01-06 20:08] Bachmann1234 commented on #32
Ill take a look when I can. Got a lot going on but ill aim to get a full answer to you by the end of the week

[2016-01-10 18:17] Bachmann1234 commented on #32
@mwykes The problem is the *.py you have at the end there.

I pulled down and tried to simulate a similar situation

[code]

[2016-01-22 16:30] simon-weber commented on #26
I think I've got some time for this today. I'll let you know how far I get.

[2016-01-22 17:18] simon-weber commented on #26
@Bachmann1234 what do you think of this general approach? It seems to work as expected when playing with the fixtures.

Also, what do you want the interface to look like wrt different kinds of diffs? Separate options for each type?

[2016-01-22 19:55] simon-weber commented on #26
Looks like we'll want an option for git path to appease GitPathTool as well.

[2016-01-23 04:22] Bachmann1234 commented on #26
@simon-weber looking reasonable. I think a big thing is going to be trying to find a way of validating the diffs. We have had issues with the quality tools where people try and pass in quality reports made in different ways than diff-quality can parse.

I mean, diff is a bit easier. But anything we can do to verify the diff is formatted well and to let the user know if we find problems.

[2016-01-25 09:49] mgedmin opened #34 "Option to use external CSS"
Jenkins sets a restrictive content security policy that forbids inline CSS.  This means diff-cover reports in my Jenkins workspace are basically unreadable: https://issues.jenkins-ci.org/browse/JENKINS-32590

![ekrano nuotrauka is 2016-01-25 11-12-30](https://cloud.githubusercontent.com/assets/159967/12547441/25f42972-c359-11e5-84c5-97c672da55f4.png)

What do you think about a command-line option

[2016-01-25 19:06] simon-weber commented on #26
Sounds good. We're running on my fork without problems right now, so it'll probably be some time until I get around to cleaning it up to merge :grin:

[2016-01-26 02:00] Bachmann1234 commented on #26
@simon-weber not a problem at all. Life has been busy for me so take all the time you need :-)

[2016-01-26 02:09] Bachmann1234 commented on #34
If you are willing to make the PR I will review and likely merge if the code is ok and has tests.

I like the idea.

You should know the code on master has not been released yet so if the PR comes soon it may be delayed a bit until I hear back from someone testing it. I plan on releasing master some time in early February no matter what though.

[2016-01-26 19:25] simon-weber commented on #26
Whoops, this won't work for really big diffs since it'll go over the shell limit. I guess it's cleaner to always provide it as a file -- people can always use process substitution to send it over the command line.

[2016-01-27 02:34] Bachmann1234 commented on #26
:+1:

[2016-01-30 17:10] #34 closed

[2016-02-02 11:07] agroszer opened #36 "total quality % should be calculated based on the real lines to check"
e.g. pylint cares only about .py extensions, can happen that the diff has a boatload of .txt changes (which will be considered as 100%), that influences the quality in the wrong direction

[2016-02-03 04:35] Bachmann1234 commented on #36
:+1: like the idea. Probably should be based on the extension for the particular quality tool. Gets a bit tricker with coverage since technically you can combine reports from several languages. Ill add a node to the TODO though this is open for someone else to grab as well.

[2016-02-08 07:02] mgedmin opened #37 "diff-cover --external-css-file fails with TemplateNotFound"
It looks like https://pypi.python.org/packages/source/d/diff_cover/diff_cover-0.9.0.tar.gz is missing some files in the `templates/` directory, and so the new feature introduced by #35 doesn't work:
[code]

I recommend https://pypi.python.org/pypi/check-manifest to avoid this kind of issue in the future ;)

[2016-02-08 14:31] #37 closed

[2016-02-08 19:37] mgedmin commented on #37
Uhh I'm afraid I'm still seeing this with 0.9.1.

[2016-02-08 21:06] Bachmann1234 commented on #37
well dang it.

So I verified the 9.0.1 tag does have your PR in it. Ill see if I can find some time to play with this in the evening but if you figure it out dont let me slow you down.

[2016-02-09 01:26] Bachmann1234 commented on #37
@mgedmin give it a shot with 0.9.2. The files were in the manifest but were not included in setup.py so the css never got copied over. My bad, I should have saw that in review.

[2016-02-09 06:15] mgedmin commented on #37
Welp, I completely forgot that there are two copying steps: source tree -> sdist *and* sdist -> installed files.  My bad for not actually testing PR #38 locally before assuming it was sufficient!

[2016-02-10 08:01] agroszer opened #42 "don't do logging.basicConfig on import"
see https://github.com/Bachmann1234/diff-cover/blob/master/diff_cover/tool.py#L48

[code]

Packages that import this module need to work around that.
Rather call basicConfig in main()

[2016-02-10 12:32] Bachmann1234 commented on #42
Ok, that should be an easy enough fix

I'll try and get it tonight

[2016-02-11 02:00] Bachmann1234 commented on #42
Fixed in https://github.com/Bachmann1234/diff-cover/commit/433161ac70f338f4bceb8b20e20e9dfecc516cc6

https://pypi.python.org/pypi/diff_cover/0.9.4

[2016-02-11 02:00] #42 closed

[2016-02-19 03:31] agroszer opened #44 "stop checking tool installation by importing it"
linters are anyway executed in a subprocess, a subprocess works without the linter being importable by python

[2016-02-19 03:35] Bachmann1234 commented on #44
Fair enough. Diff-cover could check for the tools by calling a basic subprocess and checking the status code of that process.

Implementing this I think I will prefer trying importing followed by running the command since subprocess is comparatively expensive. But ill try and look at this soon

[2016-02-19 03:40] Bachmann1234 commented on #44
Looking at the code this is what we are doing for JS based tools. Would not be too hard for the python ones. No promises but maybe this weekend.

[2016-02-19 13:07] agroszer commented on #36
I have this in the pipeline

[2016-02-21 02:32] Bachmann1234 commented on #44
Code for this is on master. I am going to run a couple tests before releasing it though. I think ill release tomorrow

[2016-02-21 19:34] Bachmann1234 commented on #44
Released https://pypi.python.org/pypi/diff_cover/0.9.6

I saw your comments on the commit and they should be addressed.

[2016-02-21 19:34] #44 closed

[2016-08-11 21:48] fperrin opened #47 "diff-quality checks only the first modified file"
Hi,

When running `diff-quality --violations pyflakes --compare-branch master` (i.e. letting diff-quality run pyflakes itself), only the first modified file is checked.

To reproduce:
[code]
This reports only the issue in hello.py, but if you `git diff master..` it's obvious you should have a warning in hi.py too.

I think the problem is in violationsreporter.base.QualityReporter.violations; after

[2016-08-11 21:55] fperrin opened #48 "diff-quality tries to check deleted files"
Hi,

When running `diff-quality --violations pyflakes --compare-branch master` (i.e. letting diff-quality run pyflakes itself), then if files have been deleted, diff-quality tries to run pyflakes on deleted files.

To reproduce:

[code]

[2016-08-11 22:02] Bachmann1234 commented on #47
Ill try and get a look at this over the weekend, thanks!

[2016-08-13 02:28] Bachmann1234 commented on #47
Howdy!

Just wanted to report I have tracked down the bug. Seems like my test suite is biased towards passed in reports.

While I figure out a good fix (if you need a workaround) you can pass in a report
[code]

[2016-08-13 02:54] Bachmann1234 commented on #47
PR up, I wanna see if I can fix 48 before releasing

[2016-08-13 03:15] Bachmann1234 commented on #48
Same workaround for this one.

Until I release a fix you can pass in a pre generated report

[2016-08-13 03:48] Bachmann1234 commented on #47
Released! https://pypi.python.org/pypi/diff_cover/0.9.9

[2016-08-13 03:48] #47 closed

[2016-08-13 03:48] Bachmann1234 commented on #48
Fix Released https://pypi.python.org/pypi/diff_cover/0.9.9

[2016-08-13 03:48] #48 closed

[2016-08-13 03:48] Bachmann1234 commented on #48
Thank you for finding this! Also thanks for the fantastic reproduction steps

[2016-08-13 03:48] Bachmann1234 commented on #47
Thank you for finding this! Also thanks for the fantastic reproduction steps

[2016-08-14 22:47] fperrin commented on #48
Hi Matt,
Thanks for the fix and and for your reactivity. New version of diff-cover does fix the issue I was seeing in our repo, so looks good to me!

[2016-09-20 14:34] PamelaM opened #50 "diff-quality --options with quotes do not pass to subprocess properly"
To reproduce, I created a test branch and touched one long line in a "migrations" directory.  I then ran the example given in the docs:

[code]

Diff Cover Version:
[code]

My analysis:

 1. This is a "hard problem" with passing quotes in arguments to Popen (command_runner.py)  I think it would work with "shell=True", but that entails a number of security concerns.
 1. The tests make sure that the

[2016-09-21 04:05] Bachmann1234 commented on #50
Thanks for the report! Ill try and look at it this week and see if I can find a solution. Though I have to admit its a busy time for me right now.

[2016-09-21 12:36] PamelaM commented on #50
One potential option is to add _another_ command line option to the effect of "--use-shell", and let command_runner.py change the args it passes to Popen:
[code]

[2016-09-26 02:36] Bachmann1234 commented on #50
I fear this problem may be more fundamental :-(

I did some experimentation on a dummy project

[code]

[code]

After creating a situation where it seems like diff-quality should be ignoring stuff I played with pep8 by itself

[code]

[code]

So far so good right? But here is the thing. Diff cover iterates though files in the diff and runs the command on them

I droped in a debugger here
[code]

T

[2016-09-26 02:38] Bachmann1234 commented on #50
WOW that got long. Let me TLDR that.

I think the fix would require changes to how diff-quality generates reports that may be good but I am simply not going to get to in the near term.

However, you can work around the issue by generating the report and passing the already completed report to diff-quality. (see example at the end of the giant comment)

[2016-09-26 04:13] schinckel commented on #16
What does `git diff --cached` do?

[2016-09-26 04:19] Bachmann1234 commented on #16
I believe it's the same as `git diff --staged`

[2016-09-26 04:25] schinckel commented on #16
Ah, gotcha. There's no direct equivalent in mercurial: but only in the sense there is no staging area: `hg diff` is (AIUI) the same. But I guess that makes it that there's no direct equivalent to `git diff`.

(I'm interested in doing some of this porting, although I'm not sure that our process will match up totally: hg doesn't yet have native squashing of commits, so it's likely that a diff-cover

[2016-09-26 12:59] Bachmann1234 commented on #16
Makes sense. Go for it!

The most common use case I know of is basically diffing PRS anyway

[2016-10-07 14:45] goanpeca opened #52 "Add pydoctsyle"
Hello, awesome project :-) any plans on adding pydocstyle (former pep257) ?

https://readthedocs.org/projects/pydocstyle/

[2016-10-07 18:25] goanpeca opened #53 "Add an api for getting results as JSON or python dicts"
Cool work :-)

I am working on a similar project but we are including also isort and yapf as part of the process, the idea is to have a single tool for all checks and automatic formatting.

It would be great if there was api to get stuff out as dict, so users can format the results as they please (include colors.. etc)

[code]

I have already some work on this direction so I could integrate it wit

[2016-10-12 00:43] PamelaM commented on #50
Sorry, but that doesn't quite work.  The diff-quality report doesn't seem to be matching lines properly.

Using your example, nothing matches:
[code]

Using the single command line, it correctly finds the 3 quality errors:
[code]

Note that those 3 lines _are_ in the pep8 report:
[code]

[2016-10-12 00:54] Bachmann1234 commented on #50
::gulp:: ill take a look at this asap

[2016-10-13 15:25] Bachmann1234 commented on #50
@PamelaM Can you post the diff with master btw? It could be that these errors already existed in master in which case diff-quality will ignore them.

[2016-10-13 15:26] Bachmann1234 commented on #50
heh, just realized you may not be able to do that (no idea if the repo is open source) can you you confirm that these lines are NOT in master?

[2016-10-13 17:56] PamelaM commented on #50
The errors did not exist on master, they were in code that I'd just written (and yes, it's a close-source project: Addgene's django web site)

Also, notice that if I don't pass in a report, diff-quality DOES identify the errors

[code]

[2016-10-13 18:45] Bachmann1234 commented on #50
Got it. Thanks

[2016-10-13 19:38] Bachmann1234 commented on #50
Sorry to be dense but I just tried to reproduce this and failed to (Version 0.9.9)

[code]

I put the reop here https://github.com/Bachmann1234/diff-cover-issue-50/

The branch I was using is `repor`

[2016-11-02 13:33] JeanFred opened #54 "diff-quality does not find the driver when giving html-report a full path"
This succeeds: `diff-quality --violation=flake8 --html-report "index.html"`

This fails: `diff-quality --violation=flake8 --html-report="test-results/index.html" ` with `Quality tool not installed: 'flake8'`

I don’t know whether diff-cover should support full paths ; but the error is confusing.

Thanks !

[2016-11-03 02:08] Bachmann1234 commented on #54
Yeah, that is a bizzare error. I'll see if I can look into it this weekend. But I may be slow.

[2016-11-03 10:30] evanunderscore commented on #54
`EnvironmentError` is being caught in `tool.py`, which is the base class for `IOError` and `OSError`. The actual error is likely that the folder does not exist, so the file can't be opened. It might take some work to tighten up that except clause.

[2016-11-20 15:36] twall opened #55 "Command "git diff {branch}...HEAD" fails (master fetch doesn't help)"
Jenkins SCM module does the following (minimal representation, it actually does a few more things):

    git checkout git@github.com:<path>.git <dir>
    cd <dir>
    git checkout -f <commit-hash>

If I invoke `git diff {branch}...HEAD` (as is done by diff-cover), I get the same error as is produced when running diff-cover:
[code]

[2016-11-20 20:32] Bachmann1234 commented on #55
Howdy stranger!

I'll see if I can take a look at this. But as I've been saying in other things that have come up my free time has dried up dramatically recently so it may be a bit. We can talk in a less public forum if your curious.

But yeah, I'll try and look this week. No promises though

[2016-11-21 05:37] Bachmann1234 commented on #55
Hey, So the issue title makes me think you read the troubleshooting but I wanted to be extra sure.

When you say 'fetch master did not help' did you specifically make sure to try

`git fetch origin master:refs/remotes/origin/master` from the readme?

[2016-11-21 09:02] twall commented on #55
No, I tried the troubleshooting tip, but it didn't work.

An explicit checkout of the target branch (`master`) then switching back works, so I'm trying to figure out what happens differently in that case w/r/t symbolic references.

[2017-03-25 01:34] KenjiTakahashi opened #58 "Pylint fails to run if no pylintrc is present"
[code]
This is certainly true that there's no config file, but why is it a fatal error? It should let it do as it says :-). [`touch .pylintrc` works around it, of course.]

[2017-03-29 07:34] pzh2386034 opened #59 "if this UT coverage tool can be use to c , c++ code?"
Question as title~~

[2017-03-29 13:27] Bachmann1234 commented on #59
It is possible. However, not at present.

As long as there is a coverage tool that produces cobertura reports. Then it can be integrated into diff-cover

[2017-04-05 17:56] lyndsysimon commented on #8
Let me know if I can help - I have `diff-cover` working with Rails projects, using `simplecov` and `simplecov-cobertura`.

[2017-04-06 01:33] Bachmann1234 commented on #8
Sounds good y'all. A while back I refactored a bunch of stuff to make plugins (or I guess config) possible. But never actually did step 2 of making the plugin setup (or config file).

At this point im mostly a maintainer rather than actively developing this. Triaging and reviewing. So if yall go for it absolutely go for it :-)

[2017-04-09 23:42] Bachmann1234 opened #61 "Diff Cover Needs Command line switch to declare encoding of source files"
https://github.com/Bachmann1234/diff-cover/pull/60#issuecomment-292097021

Some source files do not declare their encoding and as such diff cover may fail to read them properly. While libraries like `chardet` may work a lot of the time. The proper fix is for the user to provide the encoding of the files diff-cover will be processing.

[2017-04-10 02:28] crabant commented on #61
Can the command line fix handle more than one encodings in source files.
Or need to fallback to use libraries like chardet when detecting failed.
[code]

[2017-04-10 02:43] Bachmann1234 commented on #61
I suspect falling back to chardet would be a good call.

On Sun, Apr 9, 2017, 10:28 PM brad <notifications@github.com> wrote:

--
-Bachmann

[2017-05-16 08:34] shuyer520 opened #62 "How run diff-cover?"
my steps as below:
1)I download the code files to my local directory(C:\Users\Desktop\coverage\test) by git clone
2)Generate the code file XML coverage report by JSCover tool
3)change to C:\Users\Desktop\coverage\test
 and run:  diff-cover C:\Users\Desktop\coverage\test\testjson26\cobertura-coverage.xml --compare-branch=C:\Users\Desktop\coverage\test\testjson26
have a error:
Traceback (most recent

[2017-05-16 11:11] Bachmann1234 commented on #62
Diff cover is intended to be installed via pip.

You should be able to run `pip install diff-cover` and then be able to run diff cover fine.

If you can't use pip you can try cloning the source code and from the project directly running `python setup.py install`

Once you have installed the library you should be able to just run the command from anywhere

[2017-05-17 01:59] shuyer520 commented on #62
I have installed the Diff-cover by running python setup.py install in windows OS
The project that need be tested is my local directory(C:\Users\Desktop\coverage\test\testCov)
when I run the comamnd: diff-cover mycoverage.xml, have a error:
C:\Users\wangzhe\Desktop\coverage\test\testCov>diff-cover cobertura-coverage.xml
Traceback (most recent call last):
  File "C:\Python27\Scripts\diff-cover-scrip

[2017-05-17 02:48] Bachmann1234 commented on #62
Looking at the error it seems diff cover is having trouble running git. Is
git executable? What happens when you run 'git diff' in your repo?

On Tue, May 16, 2017, 9:59 PM shuyer520 <notifications@github.com> wrote:

--
-Bachmann

[2017-07-05 22:11] jmoldow opened #63 "Add support for pycodestyle (formerly known as pep8)"
The `pep8` has been renamed to `pycodestyle` (https://pypi.python.org/pypi/pycodestyle). See https://github.com/PyCQA/pycodestyle/issues/466 for details. All development and new releases happen under that name. The `pep8` PyPI library is now essentially abandoned.

`diff-cover` should support running `pycodestyle`. But it may want to retain support for `pep8` if it wants to remain backwards-compat

[2017-07-21 23:03] #52 closed

[2017-10-03 16:04] agroszer opened #65 "add an option to exclude files"
The problem is with pylint, diif_cover launches pylint with a given changed file, but pylint ignore does not work in that case.

e.g.
- there's a change in data/folder/dontwantthat.py
- pylint.rc has
ignore=CVS,folder

pylint still checks the file

[2017-10-03 16:04] agroszer commented on #65
(might do this when I get there)

[2017-11-15 02:51] #65 closed

[2017-12-03 21:29] mayou36 commented on #63
I think this issue is resolved. pycodestyle is working.

[2017-12-03 21:35] hugovk commented on #63
Fixed in https://github.com/Bachmann1234/diff-cover/pull/67.

[2017-12-03 21:35] hugovk commented on #62
No reply in seven months, I think this can be closed.

[2017-12-03 22:52] #62 closed

[2017-12-03 22:52] #63 closed

[2017-12-20 18:47] peterg79 commented on #59
You can try converting your coverage file to cobertura format. There are several projects available for that, e.g. https://github.com/eriwen/lcov-to-cobertura-xml

[2017-12-20 18:55] peterg79 commented on #58
https://github.com/Bachmann1234/diff-cover/pull/70 should fix this issue.

[2017-12-21 20:01] barrywhart opened #71 "`diff-quality --violations=pylint` fails because of innocuous stderr output from pylint"
This started happening today -- I'm guessing it's due to a recent change in `pylint`.

If I run `diff-quality --violations=pylint`, it fails with the following output:

[code]

Note the stderr output does not indicate an actual error, it's simply notifying what configuration file `pylint` is using. This message is coming from [here](https://github.com/PyCQA/pylint/blob/master/pylint/config.py#L665

[2017-12-21 20:04] Bachmann1234 commented on #71
Hmm, I believe we have a fix currently living on master that I intend to release soon

[2017-12-21 20:04] Bachmann1234 commented on #71
@peterg79  do I have that right?

[2017-12-21 20:04] Bachmann1234 commented on #71
I just need to find some time to actually do a release. This weekend by the latest...

[2017-12-21 20:08] barrywhart commented on #71
Sounds great! BTW, I confirmed it does not fail if I downgrade to pylint 1.7.5.

[2017-12-22 00:10] peterg79 commented on #71
@Bachmann1234 that's right, version 1.0.2 will fix that. This issue is a variation of https://github.com/Bachmann1234/diff-cover/issues/58 - that is fixed in 1.0.2 too.

Basically, pylint enabled more output to stderr, and diff-quality considered it as an error. From 1.0.2 diff-cover looks at the exit code of the process to determine if the tool run properly.

[2017-12-22 03:01] Bachmann1234 commented on #71
Released! https://pypi.python.org/pypi/diff_cover/1.0.2

[2017-12-22 03:01] #71 closed

[2017-12-22 03:01] Bachmann1234 commented on #58
https://pypi.python.org/pypi/diff_cover/1.0.2

[2017-12-22 03:01] #58 closed

[2017-12-22 10:41] barrywhart commented on #71
That's great! Thanks for the quick turnaround.

[2018-01-09 23:21] dzabraev opened #72 "tests failed in GitPathTool"
I ran `python setup.py test` and have tests failed.

[code]

[2018-01-10 00:19] Bachmann1234 commented on #72
hmm, I usually dont run the tests though setup.py. I usually just run pytest or rely on travis. Let me verify the build still passes

[2018-01-10 00:27] Bachmann1234 commented on #72
So I just ran the tests locally
[code]

and ran the travis build

[2018-01-10 00:30] Bachmann1234 commented on #72
Ok, pull the latest. Just added the config required https://github.com/Bachmann1234/diff-cover/commit/85c30959c8ed2aa3848f400095a2418f15bb7777

[2018-01-10 08:03] dzabraev commented on #72
Thanks, now tests under `python setup.py test` completely passed :)

I try to write package for nixos for `diff-cover`. I ran build in sanbox and have followed tests failed. Full log:

[code]

[2018-01-10 14:30] Bachmann1234 commented on #72
That's odd. Looking at the output I wonder if I'm making some assumption about the system encoding that does not hold for your system... I know the tests pass in Linux so I don't think it's an os issue

[2018-01-10 18:31] dzabraev commented on #72
NIX sandbox has strange default encoding `ANSI_X3.4-1968`, when I set `LC_ALL=en_US.UTF-8`
all tests passed. Thank you:)

[2018-01-10 18:31] #72 closed

[2018-01-30 06:24] pzh2386034 commented on #59
thanks

[2018-01-30 06:24] #59 closed

[2018-02-23 22:13] ndmeiri opened #73 "Support comparing against the previous commit on the same branch"
It would be great if diff-cover supported the ability to see the diff coverage between the current commit and the previous commit on the same branch.

Or, more generally, the ability to see the diff coverage between the current commit and an arbitrary commit.

Is this ability implicitly supported with the [Compare Branch](https://github.com/Bachmann1234/diff-cover#compare-branch) feature? (i.e. Ho

[2018-02-23 23:56] ndmeiri commented on #73
From my own experiments, it seems that I can run the following command to use the diff between `HEAD` and the previous commit on the same branch.
[code]

However, the following command reports `No lines with coverage information in this diff.`
[code]

Presumably, this is because the diff is empty. (I'm not sure why. Perhaps I'm invoking `git diff` incorrectly.)
[code]

[2018-02-24 18:33] Bachmann1234 commented on #73
Yeah I think you have that right. Git branches are just pointers to commit so any commit can be a branch point. So in theory diff-cover should be able to do this already. I am not sure why you are not seeing a cover in your specific example though.

[2018-03-28 17:15] Hnasar opened #74 "Add support for mypy"
It looks like `mypy` has support for outputting Cobertura reports:
https://github.com/python/mypy/blob/master/mypy/report.py#L481

Maybe it'd be trivial to add support to `mypy` for `diff-cover` and `diff-quality`?

[2018-03-28 17:36] Bachmann1234 commented on #74
If Mypy outputs Cobertura then you can already use diff-cover! You just use that mypy coverage file. In theory I think it would all just work

[2018-04-04 09:05] markfink opened #75 "question regarding fair use of your open source code"
thank you for releasing your code as open source - I find it quite useful.

I am the maintainer of the metrics package and I plan to use 120 lines of your code (parse_diff_lines) for the upcoming **metrics.gitinfo** plugin.

I see that you use apache 2.0 license so this should be compatible with the MIT license I use.

I am using parse_diff_lines from here:
https://github.com/Bachmann1234/diff-cov

[2018-04-04 13:00] Bachmann1234 commented on #75
I don't have a problem with it. I'm not the only author but I am the only one closely watching this repo best I know. Maybe add a comment linking to the project for attribution (not to me. The project. Probably include the file and commit.)

[2018-07-10 15:30] rishi05091989 opened #77 "New line in source text causing diff cover to report incorrectly"
Say, I have a cobertura report in the following format,
[code]

The code at [1] is not stripping the source name before comparing with git diff. Due to this, diff cover is producing incorrect reports. Ideally, code at [1] should look like this,

[code]
Let me know if I need to create a PR.

[1] https://github.com/Bachmann1234/diff-cover/blob/master/diff_cover/violationsreporters/violations_reporte

[2018-07-10 15:36] rishi05091989 commented on #77
@Bachmann1234 Can you take a look at this ? I am blocked due to this issue

[2018-07-11 02:34] Bachmann1234 commented on #77
Just released https://pypi.org/project/diff_cover/1.0.4/ to try and address this. Let me know if it worked out for you

[2018-07-11 02:34] #77 closed

[2018-07-11 03:48] rishi05091989 commented on #77
@Bachmann1234 Thanks, the new version worked. I really like diff-cover, it does its purpose well.

[2018-07-20 02:59] zyyong opened #79 "jacoco generate the coverage report."
Hi,Thank you for your reply.
I use coverage generator is jacoco,and I want to create the coverage report.what's the commands?

[2018-07-20 03:04] #79 closed

[2018-07-20 03:07] zyyong opened #80 "generator jacoco html report"
Hi,Thank you for your reply.
I use coverage generator is jacoco,want to create the coverage html report.But failed!

command line:
diff-cover app/build/reports/jacoco/jacocoTestReport/jacocoTestReport.xml --html-report report.html --compare-branch=remote/v2.0.0

error info:
Traceback (most recent call last):
  File "/usr/local/bin/diff-cover", line 11, in <module>
    sys.exit(main())
  File "/Lib

[2018-07-20 12:10] Bachmann1234 commented on #80
Is it possible you could share the xml file? Diff-Cover is looking for lines with the xml attribute "line-rate" If you are hitting this error its a sign that the tool did not find any of these lines.

[2018-08-24 13:00] godlark opened #81 "diff-quality doesn't work with eslint"
I have a git repo with python and javascript files. The structure is:
[code]
The structure is typical for django projects.
Eslint generates reports with absolute path by default, e.g.
`/home/godlark/PycharmProjects/mye_repo/my_project/static/js/index.js`
but `diff-quality` expects paths relative to the root directory of repo, e.g.
`my_projects/static/js/index.js`
I was able to create a custom form

[2018-08-27 02:46] zyyong commented on #80
Can this tool generate the android diff coverage ?

[2018-08-27 02:53] zyyong commented on #80
Can this tool generate the android diff coverage ? I use jacoco generate the android coverage, somebody said that this tool coud not use in android.

[2018-09-21 03:53] patown opened #82 "adding support on Jacoco report"
Jacoco is quite popular for java code coverage. Hope this tool could add support for Jacoco

[2018-10-12 09:23] dtomas opened #83 "Multi-line statement is only reported if the Diff contains its first line"
A Cobertura coverage.xml file generated by Coverage.py only contains a `line` node for the first line of a multi-line statement, leading to diff-cover only reporting missing coverage in a multi-line statement if its first line has changed.

[2018-10-23 13:58] marklagendijk commented on #16
Because of the lacking mercurial support I created an alternative tool, using Node.js, [diff-test-coverage](https://github.com/Connected-Information-systems/diff-test-coverage).

[2018-10-23 14:00] marklagendijk commented on #82
Because of the lacking mercurial support I created an alternative tool, using Node.js, [diff-test-coverage](https://github.com/Connected-Information-systems/diff-test-coverage).
Supported coverage report formats:
- lcov
- cobertura
- clover
- jacoco
- golang-cover

Supported source control systems:
- Git
- Mercurial
- Anything else that produces unified diffs.

[2018-10-30 03:05] Bachmann1234 commented on #80
@peterg79 added jacoco support! https://pypi.org/project/diff_cover/1.0.5/

[2018-10-30 03:05] #80 closed

[2018-10-30 03:05] Bachmann1234 commented on #82
@peterg79 added jacoco support! https://pypi.org/project/diff_cover/1.0.5/

[2018-10-30 03:05] #82 closed

[2018-12-07 20:34] devos50 commented on #54
I'm also running into this error, but even `diff-quality --violation=flake8 --html-report "index.html"` is failing for me with the same error that @JeanFred observes. Any progress on this issue?

[2018-12-07 20:45] Bachmann1234 commented on #54
There has not been progress on this sadly. Life kind of got in the way. Diff-cover has gotten lower on my priority list as of late. If someone is able to investigate I can review the PR and get it released but I dont think Ill be able to debug this kind of thing anytime in the short term

[2018-12-07 20:55] devos50 commented on #54
Thank you for your quick response! For our project Tribler we are highly dependent on the `diff-coverage` tool to report new style violations on pull requests. We would like to extend this with a flask8 checker. I will probably do some debugging myself then and make a PR if I found the issue 👍

[2018-12-15 21:42] hjqgloria opened #88 "AttributeError: 'NoneType' object has no attribute 'strip'"
Hi,

I use Coverlet to generate a coverage report in cobertura format for my .net project. But I got en error:

Have I done anything wrong here?
`diff-cover coverage.cobertura.xml
Traceback (most recent call last):
  File "C:\Users\c624jh1\AppData\Local\Programs\Python\Python37-32\Scripts\diff-cover-script.py", line 11, in <module>
    load_entry_point('diff-cover==1.0.5', 'console_scripts', 'diff

[2018-12-16 00:07] Bachmann1234 commented on #88
So the problem seems to be in this section of the code

[code]

We are basically hitting a NPE of sorts when hitting this statement

[code]

So some element of the sources array is `None`

What this tells me is that there is something missing in the cobertura xml that we assume is there. Is there anyway you can share it here?

[2018-12-17 09:18] hjqgloria commented on #88
Hi Bachmann1234,

Thanks for your quick answer!
There is an empty source element at the beginning of the xml file:

`<coverage line-rate="0.178" branch-rate="0.348" version="1.9" timestamp="1545037553" lines-covered="675" lines-valid="3787" branches-covered="260" branches-valid="747">`
  `<sources>`
 ` <source></source>`
`  </sources>`
I removed the empty element then it worked. Is it possible for

[2018-12-18 04:57] Bachmann1234 commented on #88
Give https://pypi.org/project/diff-cover/1.0.6/ a shot

[2018-12-18 04:57] #88 closed

[2019-02-07 21:50] Tomasz-Kluczkowski opened #91 "diff-cover takes entire project as diff"
Hi,

I use diff-cover successfully and  with great pleasure for my personal projects and tried implementing it at work to ease development.
Unfortunately despite checking that the diff is empty (branch is a fresh copy of master) when I run diff-cover on the previously generated coverage.xml (on the unchanged copy of master) it will report every single file in the coverage.xml that is missing cover

[2019-02-08 02:22] Bachmann1234 commented on #91
Ok, so what is the specific command you are running (what args) and form what directory.

also, you say there is no diff but humor me and see if this has any output

`git -c diff.mnemonicprefix=no diff origin/master...HEAD --no-color  --no-ext-diff`

[2019-02-08 09:17] Tomasz-Kluczkowski commented on #91
Hi Matt,

Many thanks for coming back so fast and pointing me at the right direction.

I have checked the command I am using and it is:
diff-cover coverage.xml —compare-branch=“$COMPARE_BRANCH” —html-report “$COV_PATH”

Where:
COMPARE_BRANCH=‘origin/develop’ - here was the mistake, it should not be a string :)!

I have fixed it and all is good!

Once again many thanks for your help and wonderful o

[2019-02-08 19:39] #91 closed

[2019-02-16 18:58] Tomasz-Kluczkowski opened #92 "diff-quality will not report too many blank lines if this is the only diff"
Hi,

This is probably hard to crack.
Example:
Original code, contains 2 empty lines between function and class as it should.
[code]

Now lets add 2 surplus empty lines above the class (so now we have 4 empty lines, running flake8 on its own will pick it up as it scans the whole file), this is now the only diff in this file - just empty space.

[code]
run:
```diff-quality --violations=flake8```

Re

[2019-03-14 08:10] beaugunderson opened #93 "git's noprefix option breaks diff-cover"
I have this in my `.gitconfig`:

[code]

This breaks `diff-cover`'s regex, which expects there to be `a/` and `b/` prefixes in the diff output.

It's easy enough to disable the option, but I'd love to find a way to have the option for my normal use and have `diff-cover` still work. :)

[2019-03-14 08:11] beaugunderson commented on #93
This is the stack, fwiw:

[code]

[2019-03-14 08:21] beaugunderson commented on #93
Looks like there's precedent to setting `git` options in `GitDiffTool` already:

[code]

Disabling `noprefix` here fixed my problem:

[code]

[2019-03-14 17:32] beaugunderson commented on #93
(will have a PR for this today, likely)

[2019-03-16 16:14] #93 closed

[2019-03-16 19:45] sgilroy opened #95 ""SyntaxError: invalid syntax" from running latest diff-cover"
diff-cover just started failing in our CI environment, perhaps as a result of the latest release. The same command seemed to work yesterday. Note that the change I made that triggered the latest build did change coverage, and I have not tried to verify whether this error occurs with a different version of diff-cover or with the older version of my project.

[code]

[2019-03-16 19:51] Bachmann1234 commented on #95
Oh jeez. I'm sorry to cause you all issues on a weekend....

Im a bit shocked my CI did not catch this. Ill take a look right away... (I have to see if I still support python2.6 officially actually...)

[2019-03-16 19:56] Bachmann1234 commented on #95
Yeah, looking over this. I dropped 2.6 support a while back which would explain why CI would not have caught the error... though I am a tad skeptical that this is our first use of 2.6 invalid syntax.

but let me do a quick check to confirm

[2019-03-16 20:03] Bachmann1234 commented on #95
Ok, yeah

So python2.6 support broke around november of 2017 and I decided it was not worth continuing to support it.

 https://github.com/Bachmann1234/diff-cover/commit/75efbbac12f38c0491b0cf738053e750113917fe#diff-b91f3d5bd63fcd17221b267e851608e8

If upgrading to 2.7 (or 3 <insert true but annoying pitch here>) is not an option try pinning to https://github.com/Bachmann1234/diff-cover/releases/t

[2019-03-16 20:03] #95 closed

[2019-03-16 22:15] sgilroy commented on #95
@Bachmann1234 Sounds good. Thanks Matt! Someone else had updated the version of diff-cover (from some significantly earlier version) without me realizing it. The release of 1.0.7 seems to have just been a coincidence. Thanks for maintaining a great project that continues to be very valuable to our team!

[2019-04-03 01:36] sunmoondeer opened #96 "Run diff-cover error"
os: windows 10
python version: 3.6.5
Installed with pip install diff_cover command

error info:
Traceback (most recent call last):
  File "D:\program\python\lib\site-packages\pkg_resources\__init__.py", line 346, in get_provider
    module = sys.modules[moduleOrReq]
KeyError: None

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:\pr

[2019-04-03 14:57] gaborbernat opened #97 "provide -m entry points"
Currently the user can only call the diff_cover or diff_quality scripts, would be nice inside CI and on Windows to be able to access the command without mangling with the path, this is possible by using python -m diff_cover, we need to provide a __main__ file for this.

[2019-04-06 14:53] Bachmann1234 commented on #96
This is string. I know people have been able to use this with windows in the past... Ill see if I can reproduce this... I think ill have some time tonight.

[2019-04-06 14:54] Bachmann1234 commented on #97
I think this should be rather doable. I honestly thought it was already possible with `python -m diff_cover.tool` but I just realized why that does not work.

Ill see if I can find some time to look into this in the next few days.

But can you talk to me a bit more about what you mean by "access the command without mangling with the path"?

[2019-04-07 20:37] Bachmann1234 commented on #96
I had some trouble reproducing this.

I tried using a virtualenv in windows 10. I install diff cover and I am able to run diff-cover and diff-quality and the only errors I get are the expected validation error you would get when not providing any arguments.

[code]

[2019-04-07 22:41] Bachmann1234 commented on #97
Took a stab at this here https://github.com/Bachmann1234/diff-cover/pull/98

Turned out to be harder than it should have been. The problem was diff-cover and diff-quality shared a main method and relied on the entry point to branch between them. So I had to split the two up.

I prefer them split up anyway. I am going to leave the PR up for a few days to see if anyone is watching and then release i

[2019-04-08 15:58] gaborbernat commented on #97
Multiple reasons:

1. It's about explicit over implicit. When you have multiple pythons installed typing in diff_cover really gives you no clue under what python will be executed. If you do ``python3.7 -m diff_cover`` it's more explicit.
2. Especially on Windows (but Unix too applies) it's not recommended/easy to add new entries under the path (such as your python scripts folder). Instead one uses

[2019-04-09 02:15] Bachmann1234 commented on #97
Gotcha, so generally in my workflow im using python virtualenvs. I dont use the default python for much of anything _other_ then creating a virtualenv.

I hear ya on wanting the shorter names. But I wanted consistency between the two tools and the structure of the modules.

I dont actually think anyone is watching PRS to this repo so im gonna go ahead and do a merge/release

[2019-04-09 02:24] Bachmann1234 commented on #97
https://pypi.org/project/diff-cover/2.0.0/ released

[2019-04-09 02:24] #97 closed

[2019-04-15 08:07] dknebula opened #99 "jacoco - No lines with coverage information in this diff"
use the following command, prompt "No lines with coverage information in this diff."

`diff-cover coverage.xml --compare-branch=origin/develop`

[2019-05-09 19:37] nicoddemus opened #101 "Missing CHANGELOG for 2.0"
Howdy,

First of all thanks for sharing this tool, it is very useful!

I don't see a CHANGELOG entry for the 2.0 release. Was this an oversight?

Cheers

[2019-05-10 03:53] Bachmann1234 commented on #101
Last two releases I did not update it. Ill fix that now. I will say despite the major change of version the actual feature functionality change is small.

1.7 was a a bug fix https://github.com/Bachmann1234/diff-cover/issues/93
2.0 was because I broke out diff-cover and diff-quality into separate entry point scripts in a way that could _maybe_ be backwards incompatible (I go over how in the pr htt

[2019-05-10 03:55] Bachmann1234 commented on #101
Actually looking over this... I have not been updating the changelog in a while. Probably convinced myself that github's releases are good enough. But I should be a tad bit less lazy. ill bring it back up to date

[2019-05-10 04:03] Bachmann1234 commented on #101
Should be done. Few minors things. Also looks like one update that was made got lost...

[2019-05-10 04:03] #101 closed

[2019-05-10 04:07] Bachmann1234 opened #103 "Support windows builds in CI"
We have at least one test that supports only windows not being run in CI.

In addition its nice to have this projects windows support enshrined in CI.

Two options here. Technically travis has an experimental windows environment (https://docs.travis-ci.com/user/reference/windows/)

I could also add appveyor which has first class windows support if I recall

[2019-05-10 11:30] nicoddemus commented on #101
Thanks @Bachmann1234!

I personally find a CHANGELOG very important. Here's a good reading on the topic in case you haven't seen it yet: https://keepachangelog.com/en/1.0.0/

Cheers, thanks for the great tool!

[2019-05-10 11:49] nicoddemus commented on #53
Even if not an API, there could be a report in JSON format written to the output. Then it would be just a matter of reading and parsing that output.

[2019-05-10 13:05] Bachmann1234 commented on #101
Thanks! Ill give that a read

[2019-05-13 10:53] sunmoondeer commented on #96
HI，

I update to the 1.0.7 and the problem is fixed. I have other problem, I generator the xml file by invoke jacoco API like

final XMLFormatter xmlFormatter = new XMLFormatter();
final IReportVisitor xmlVisitor = xmlFormatter
    .createVisitor(new FileOutputStream("D:/work/test/jacoco/codecoverage/xxx/aaa.xml"));
  xmlVisitor.visitInfo(execFileLoader.getSessionInfoStore().getInfos(),
    execFi

[2019-05-14 02:26] sunmoondeer opened #104 "No lines with coverage information in this diff."
I get the xml file according to invoke the jacoco api, the code like this:

final XMLFormatter xmlFormatter = new XMLFormatter();
final IReportVisitor xmlVisitor = xmlFormatter
    .createVisitor(new FileOutputStream("D:/work/test/jacoco/codecoverage/xxx/aaa.xml"));
  xmlVisitor.visitInfo(execFileLoader.getSessionInfoStore().getInfos(),
    execFileLoader.getExecutionDataStore().getContents());

[2019-05-14 02:28] sunmoondeer commented on #96
I update to the 1.0.7 version, and this problem fixed.
Thanks

[2019-05-14 02:28] #96 closed

[2019-05-15 09:09] sunmoondeer commented on #104
I can get the diff info according to run git diff origin/master...HEAD. But when I run diff-cover report.xml --html-report report.html, I get the No lines with coverage information in this diff

[2019-05-15 09:11] sunmoondeer commented on #99
Can you get the diff info  when you run git diff origin/develop...HEAD?

[2019-05-15 10:58] pikuldorota commented on #104
Hi,
I've run into same issue. I believe problem lies in `XmlCoverageReporter_measured_source_path_matches(self, package_name, file_name, src_path)` function. It compares paths from jacoco and git command by simple string comparison. When the tool is run on windows platform it gets windows style path from jacoco and unix style path from git. What's even worse in this case is that this function `Git

[2019-05-15 12:12] Bachmann1234 commented on #104
It's seems plausible to be that a coverage file with Windows paths is not being normalized properly.

That being said I thought we had at least a few people using this tool on Windows systems...

But I am not going to be in a position to look into this for a while. Someone is able to track this down and make a PR I can look at it when I get back.

If no one does I'll take a look when I can find so

[2019-05-16 01:54] sunmoondeer commented on #104
Change to linux env and bug fixed. Thanks

[2019-05-16 01:54] #104 closed

[2019-05-23 18:49] nicoddemus opened #105 "Wondering why `diff-cover` uses three dot notation for the diff"
Hi,

We have integrated `diff-cover` into our workflow at work by making jobs publish `diff-cover` comments into the PR for a branch, including links and emojis (we use BitBucket Server).

Works great, here's a quick screenshot:

![image](https://user-images.githubusercontent.com/1085180/58274423-38d48280-7d69-11e9-90c6-83103d5c540f.png)

So thanks a lot for the great tool!

---

Now I would like

[2019-05-23 18:50] nicoddemus commented on #105
cc @gcardozo123

[2019-05-23 19:19] Bachmann1234 commented on #105
Howdy!

So I actually appreciate the context and detail. I wanted to get that out there first :-)

As the answer to your question I don't actually know. I was not the original author but I have been maintaining this for a while now.

That being said this makes a lot of sense. *To protect backwards compatibility I think this feature should be added as a flag.*

But it will be some time before I can

[2019-05-23 19:21] Bachmann1234 commented on #105
Hmm.... Actually .. does @wedaly pay attention to GitHub notifications?!

He was the original author and may actually know the answer to this

[2019-05-23 19:23] nicoddemus commented on #105
Thanks @Bachmann1234 for the prompt reply and congratulations on your marriage.

I will work on adding the option then: as you mention, it should be simple to do so. 👍

[2019-05-23 20:12] wedaly commented on #105
I don't remember either :)  I suspect that I just knew less about git at the time, and the three-dot notation worked for the way we did branching at EdX.

[2019-05-27 08:26] dknebula commented on #99
I can get the diff info when run the command.
`git diff origin/develop...HEAD`

[2019-05-28 12:22] dknebula commented on #99
I can get the diff info when run the command.

`git diff origin/develop...HEAD`

[2019-05-30 08:27] sunmoondeer commented on #99
This tool just work on linux env right now, if you are using windows then change to linux

[2019-05-31 02:50] Bachmann1234 commented on #99
im surprised to hear that. I have run the test suite in a windows environment in the past and it seemed to work. At some point I need to look into https://github.com/Bachmann1234/diff-cover/issues/103 and see if that shakes out any issues

[2019-05-31 02:53] Bachmann1234 opened #109 "Tox should try and test the packaged code rather than the checked out code"
Its nice when testing to test the code in CI for the tests to reflect the production environment as closely as possible. @nicoddemus pointed out that the current config is only testing the checked out code and linked to this article to explain the limitation https://hynek.me/articles/testing-packaging/

https://github.com/Bachmann1234/diff-cover/pull/106#discussion_r287806181

Would be nice to upd

[2019-05-31 02:54] #75 closed

[2019-05-31 11:58] Bachmann1234 commented on #95
This is a dead issue but talking somewhere I just realized there is a fairly easy work around if you wanted you update diff cover without updating your other python stuff

Diff cover is a tool not a library. So it's not like it would break your code to remove diff cover from the dependencies of your project and have a separate and more modern python interpreter installed just to run tools.

Your c

[2019-06-04 01:39] #105 closed

[2019-06-04 01:42] Bachmann1234 commented on #99
https://github.com/Bachmann1234/diff-cover/pull/111 may help solve this. Im going to put out a release asap with it

[2019-06-04 01:55] Bachmann1234 commented on #99
Please try out https://pypi.org/project/diff-cover/2.1.0/

[2019-06-04 02:33] Bachmann1234 commented on #105
See https://pypi.org/project/diff-cover/2.1.0/

[2019-06-11 08:24] sunmoondeer opened #113 "The latest version run diff-cover error"
Install with pip install diff-cover
os: win10
python: 3.7
pip:19.0.3

Traceback (most recent call last):
  File "D:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 359, in get_provider
    module = sys.modules[moduleOrReq]
KeyError: None

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:\ProgramData\Anaconda3

[2019-06-11 08:31] sunmoondeer opened #114 "No lines with coverage information in this diff when with multiple sub_project"
I have a maven project with multiple sub_project, the directory like

project A
    -- project B
      ---  src
    -- projct C
       --- scr
pom.xml

when I in projectA root directory, I can get the diff info with command git diff origin/master...HEAD。
+
+/**
+ * @author light
+ * @Date 2019-05-31 11:14
+ */
+@RestController
+@RequestMapping("/api/capital")

But when I run diff-cover ../report.x

[2019-06-11 08:34] sunmoondeer commented on #114
I can see the coverage info in the report.xml like <counter type="BRANCH" missed="78" covered="0"/><counter type="LINE" missed="1" covered="0"/> and if the proect did not include sub_project  then the command diff-cover ../report.xml return the coverage info

[2019-06-12 09:24] sunmoondeer commented on #114
fixed. Use the --src-roots to find the sub_module source code

[2019-06-12 09:24] #114 closed

[2019-06-14 02:33] keyescgm commented on #99
How to view the diff-cover‘s version?

[2019-06-14 02:39] keyescgm commented on #99
hello，you see，my project Integrated jacoco plugin

![image](https://user-images.githubusercontent.com/9543572/59479629-51c7e380-8e90-11e9-8033-c13b04ad5949.png)

use the following command, prompt "No lines with coverage information in this diff."

![image](https://user-images.githubusercontent.com/9543572/59479697-850a7280-8e90-11e9-9489-2460ee9cb73b.png)

[2019-06-14 02:47] Bachmann1234 commented on #99
i'm embarrassed to say diff-cover does not have a `--version`

I will make a note to add that.

If you installed the package via `pip` you can run `pip freeze` to see what you have installed.

Looking at your screenshots I think you may be having a similar issue to https://github.com/Bachmann1234/diff-cover/issues/114

Since you are on windows I would suggest making sure you are up to date.

In ad

[2019-06-14 02:55] keyescgm commented on #99
how to add the --src-roots？
![image](https://user-images.githubusercontent.com/9543572/59480367-efbcad80-8e92-11e9-8fef-8f5ad585bef8.png)

[2019-06-14 03:12] Bachmann1234 commented on #99
[code]

take your command and tell `diff-cover` the the location of your src directories

by default it assumes your code is in `'src/main/java'` and `'src/test/java'`

but it looks like you have a multi module build. So you need to add more. So you need to specify them.

So I think you need (in addition to your other options)

`--src-roots "/module/<blanked out I cant tell>" --src-roots "/app/src

[2019-06-14 03:12] keyescgm commented on #99
![image](https://user-images.githubusercontent.com/9543572/59480995-327f8500-8e95-11e9-8e05-c1566afeb7da.png)

[2019-06-14 08:39] keyescgm commented on #99
how can i do?
always show the result：
No lines with coverage information in this diff.
headache··
I've tried all methods

[2019-06-18 08:57] sunmoondeer opened #116 "how to merge multiple reports"
HI, is it support merge multiple diff reports like jacoco merge report? Because most of my project are maven project with multiple sub_project?

[2019-06-18 11:14] Bachmann1234 commented on #116
The tool does not support merging reports after the fact.

I think you could produce a merged report by passing in multiple coverage reports when you run diff cover.

[2019-06-18 11:14] #116 closed

[2019-06-30 05:46] dknebula commented on #99
@Bachmann1234 @sunmoondeer  thanks for your help.

There are several modules in my project.
<pre>
.
├── module1
│   ├── pom.xml
│   └── src
│       └── main
│           └── java
├── module2
│   ├── pom.xml
│   └── src
│       └── main
│           └── java
├── pom.xml
</pre>

Although I can not get the whole diff info directly, I can get the module diff in the project.

`diff-cover coverage.xml`

`

[2019-06-30 05:46] #99 closed

[2019-07-12 18:08] dcw312 commented on #8
Does the tool work on Java code? Can we clearly call that out on the README?

[2019-07-12 23:08] Bachmann1234 commented on #8
The tool should work on Java code.

I think the readme/docs need an overhaul as a lot has been added and I think the docs could use some love

[2019-07-13 17:06] dcw312 commented on #8
If I do try it with my Java code, I’ll submit a pr. Thanks for sharing this code!

[2019-08-01 21:09] milind-shakya-sp opened #119 "diff-cover does not detect coverage info for new files"

[2019-08-13 18:22] #119 closed

[2019-09-03 07:05] sunmoondeer opened #120 "The line will be removed if it has been coveraged"
I found the line will be removed form the diff report if it has been coveraged. Is there a way that I can keep line info always? I want to knwo how many lines changed and how many has been coveraged。

[2019-09-03 07:05] #113 closed

[2019-09-23 10:00] #120 closed

[2019-10-16 13:13] noahp commented on #103
Azure pipelines is another option, which supports all three platforms. Interface is a little clunky tho :/

[2019-10-16 13:16] nicoddemus commented on #103
I strongly recommend GitHub actions... you can test all 3 platforms using a single file, with great GitHub integration. 👍

For reference: https://github.com/pytest-dev/pytest-mock/pull/156/files

[2019-10-16 13:19] noahp commented on #103
I change my answer to @nicoddemus 's :grinning: . You have to sign up for the beta but it was easier than setting up azure pipelines for sure.

[2019-10-16 13:36] nicoddemus commented on #103
Oh yeah, but I think there's not a waiting line anymore, signing up for the Beta automatically gets you access now. 😁

[2019-10-18 09:46] xA11en opened #123 "excute: diff-cover jacoco.xml --html-report report.html ;eroor"
excute result message :
Diff Coverage
Diff: origin/master...HEAD, staged and unstaged changes
-------------
No lines with coverage information in this diff.

why ???  path i am sure it is right

[2019-10-31 07:34] richardplas opened #125 "diff-cover"
Can diff-cover supports java multi-module?

[2019-11-04 16:17] gaellalire commented on #125
Yes it can, with JaCoCo.

Although it is not optimized because you will have to run both report and report-aggregate Maven goal (see jacoco/jacoco#812).

Then you have a performance issue in diff-cover for which I created a PR (#124)

The `diff-cover` command to run is the following

[code]

[2019-11-15 07:54] jayelev opened #126 "diff-cover can not support java multi-module of same git rep"
My java project is a multi-module project and is in the same git repository.diff-cover can not generate diff coverage report. Always  remind me"No lines with coverage information in this diff".
I found out that the reason is : the directory in 'git diff' is inconsistent with the path in coverage.xml. For example：
git diff's relative path is like "moduleA/src/main/java/com/company/……"；
but coverage

[2019-11-17 01:03] Bachmann1234 commented on #126
https://github.com/Bachmann1234/diff_cover/issues/99#issuecomment-501951822

[2019-11-20 16:19] gaellalire opened #127 "Speed issue with multiple module"
Could you merge #124 ?
Or rewrite _measured_source_path_matches to limit os calls.

[2019-11-20 16:27] Bachmann1234 commented on #127
Oh jeez, im sorry that one must have slipped though the cracks, Ill get the merged and released in the next day or so

[2019-11-21 02:30] Bachmann1234 commented on #127
merged and released https://pypi.org/project/diff-cover/2.4.1/

[2019-11-21 02:30] #127 closed

[2019-11-22 03:29] jayelev commented on #126
I specify all source roots as you describe，but it still don't work

[2019-11-22 03:46] jayelev commented on #126
Thanks，I sovle this problem:  I put the value in quotation marks when I specify parameters.Now  it works well.

[2019-11-22 04:38] #126 closed

[2019-11-22 04:38] #125 closed

[2019-12-06 23:49] barrywhart commented on #8
I'm helping with the testing, documentation, and development of a SQL linter package called [SQLFluff](https://github.com/alanmcruickshank/sqlfluff). It is implemented in Python. Would you consider merging a PR to add support for it in `diff-quality`?

[2019-12-08 18:20] Bachmann1234 commented on #8
Sure. Send a pr and I'll add it.

On Fri, Dec 6, 2019, 6:49 PM Barry Hart <notifications@github.com> wrote:

[2019-12-09 11:52] barrywhart commented on #8
Thanks! I will also look into implementing a plugin system. I have used a package called [Pluggy](https://pypi.org/project/pluggy/) which makes this pretty easy.

[2019-12-13 13:50] barrywhart commented on #8
Can this ticket be closed now?

[2019-12-14 22:52] Bachmann1234 commented on #8
Closing this with https://pypi.org/project/diff-cover/2.5.0/ thanks @barrywhart

[2019-12-14 22:52] #8 closed

[2020-01-11 17:14] dvzrv opened #131 "pypi releases lack verification"
Hi! I'm packaging diff_cover for Arch Linux.
To fend off [supply chain attacks](https://en.wikipedia.org/wiki/Supply_chain_attack), I'd like to do sdist verification based on a detached PGP signature.
I see, that in the past [PGP signatures were uploaded to pypi](https://pypi.debian.net/diff_cover), but this has stopped.
Additionally, tags are not verifiable by PGP either (my 2nd choice, if the py

[2020-01-11 18:14] Bachmann1234 commented on #131
Yeah, I can get back into the habit of this. Release 2.5.1 should be going out now based on signed commit https://github.com/Bachmann1234/diff_cover/commit/44fd616c667524f63bf3f6f8030a89c754992ce8

But I realize my CI is probably not set up to sign that package ... I gotta look into a safe way of doing that

[2020-01-11 18:16] Bachmann1234 commented on #131
bah, on second thought thats not a good idea. Ill look into seeing if I can sign a release after its out

[2020-01-11 18:28] Bachmann1234 commented on #131
Ok, give `2.5.2` a look. Pulled down the key and verified it so you should be all set.

[2020-01-11 18:56] dvzrv commented on #131
@Bachmann1234 wow, thanks! :)

[2020-01-11 19:02] dvzrv commented on #131
@Bachmann1234 did you upload your public key to a server?
I can't import the key:

`gpg --search-keys 54CAEABCAC2956D407348256972401BDE60128CB`

[code]

[2020-01-11 19:14] dvzrv commented on #131
If you want to go for the maximum throughput, just upload to all of them (shorter time before they all synced your pubkey): https://paste.xinu.at/axX1B9w/

[2020-01-11 23:06] Bachmann1234 commented on #131
@dvzrv ah, thats probably cuse im a keybase user. https://keybase.io/bachmann

Let me get that key uploaded

[2020-01-11 23:22] Bachmann1234 commented on #131
Got a bunch of failures but it looks like at least a few worked. Let me know if you can find it

[2020-01-13 18:02] gaellalire opened #132 "No line coverage instead of 0%"
I'm running diff-cover with --src-roots option and jacoco.xml reports.
I expect that if jacoco.xml does not have any matching class that coverage will be 0%.
It can be no line coverage but only if src-root and `git diff` are disjoint.

Diff cover probably miss a mecanism to fetch the jointure between src-root and git diff.

Also it should be possible to call diff-cover without any jacoco.xml, the

[2020-01-15 16:43] Bachmann1234 commented on #131
@dvzrv Were  you able to find my key?

Seems to work on my end
[code]

[2020-01-15 20:40] dvzrv commented on #131
@Bachmann1234 sorry for not getting back to you on this earlier. I've spent packaging a lot of stuff the past days.

I was able to successfully import your key and it's now in use for the package for the verification step. Thank you!

[2020-01-15 21:47] #131 closed

[2020-01-17 04:20] YellRiv opened #133 "install error"
hi author  ,please give me help:
error message:
Installed /usr/local/lib/python2.7/dist-packages/diff_cover-2.5.2-py2.7.egg
Processing dependencies for diff-cover==2.5.2
Searching for pygments
Reading http://pypi.python.org/simple/pygments/
Couldn't find index page for 'pygments' (maybe misspelled?)
Scanning index of all packages (this may take a while)
Reading http://pypi.python.org/simple/
No lo

[2020-01-17 06:18] blueyed commented on #74
Yeah, it should work already.  Working on this for pytest in https://github.com/pytest-dev/pytest/pull/6486.
This issue can be closed.

[2020-01-17 06:23] blueyed commented on #74
Maybe adding support for `--violations=mypy` might make sense though (https://github.com/Bachmann1234/diff_cover#adding-diff-quality-support-for-a-new-quality-checker), but that would have to be done for mypy itself then.

[2020-01-17 06:25] blueyed opened #134 "(Verbose) mode to display line contents"
Currently only line numbers get displayed.

I think it would be useful to also display the missing lines verbatim, especially for CI, where a merge is tested, and line numbers might be different from the branch itself.

[2020-01-17 06:26] blueyed commented on #133
@YellRiv
This appears to be a problem with your pip installation and/or network.

Likely/maybe related to pygments not being available for Python 2.7.

Please try Python 3 instead - 2.7 is not supported anymore.

[2020-01-17 06:27] blueyed commented on #83
Would be great if you could provide example files to reproduce this.

[2020-01-17 18:21] Bachmann1234 commented on #134
IM game for it. Seems like a reasonable thing to add

[2020-01-17 18:24] Bachmann1234 commented on #133
@YellRiv im sorry I can't reproduce this problem

[code]

[2020-01-17 18:26] Bachmann1234 commented on #133
Tried again with no cache just to be sure

[code]

[2020-01-17 20:37] blueyed opened #135 "Line numbers off with local changes"
I've noticed that line numbers for missing lines are off when there are local, unstaged changes.

I had to stop debugging when I've noticed it, but should be able to reproduce it then: IIRC it said that line X was missing, although this should have been line X+2, and two lines had been added before this.

I've also tried the options `--ignore-unstaged` and `--ignore-staged`, without any changes, a

[2020-01-18 02:28] YellRiv commented on #133
thank you ,i will try again @Bachmann1234

[2020-01-18 04:30] #133 closed

[2020-01-21 05:20] YellRiv commented on #123
hi  ,do you solve ？

[2020-01-21 17:40] bowlofeggs opened #136 "Two failing tests on Fedora rawhide"
Greetings!

I am seeing two test failures when I run the test suite on Fedora Rawhide. I used git bisect, and this commit seems to be where the two failures were introduced: https://github.com/Bachmann1234/diff_cover/commit/7e9f14d7769978b9f463852dd9f32a70c964780a

I see that the commit message references a change in pycodestyle, but Rawhide has pycodestyle 2.5.0, which seems to be the latest vers

[2020-01-22 03:05] Bachmann1234 commented on #136
Hmm, I have not been able to reproduce this issue on my mac or in CI

here is a test run and a pip freeze with my mac

[code]

[2020-01-22 03:06] Bachmann1234 commented on #136
Here is a CI run on master. Maybe the logs have a hint https://travis-ci.org/Bachmann1234/diff_cover/builds/640267623

[2020-01-23 09:08] gaellalire commented on #132
This is not easy to fix.
Maybe we need `--src-root-includes='**/*.java'` and `--src-root-exludes` options.
The correct algo should be browse to each src-root with including and excluding option and having its `git diff` not empty.
If the found file is not present in `jacoco.exec` or any other coverage xml file, then all modified line should be marked as missing.

I think this evolution interesting

[2020-01-29 20:33] maho commented on #134
I second that: it would be nice, if things which are in htmlreport, are also in output of diff-cover

[2020-02-15 08:15] ssbarnea opened #138 "'diff_cover' is a package and cannot be directly executed"
Apparently diff_cover does not allow to be called as a python module, which is the standard way of calling utils with a specific python versions.

[code]

This can be fixed in few lines and tools like coverage, tox, pytest, pip, flake8,.... all do that. Here is one example of how is done https://github.com/nedbat/coveragepy/blob/master/coverage/__main__.py

[2020-02-15 13:49] Bachmann1234 commented on #138
this project has two different executables so you cant just have one main.

However there is nothing stopping you from running them as modules.

`python -m diff_cover.diff_cover_tool`

`python -m diff_cover.diff_quality_tool`

[2020-02-15 13:49] #138 closed

[2020-02-29 00:38] AdamWill opened #139 "Difficult to use diff_cover with tox when testing packaged code"
So, this is sort of related to https://github.com/Bachmann1234/diff_cover/issues/109 . That bug is about making `diff_cover`'s own tox config test a package of the code, not the working directory. If you do this same thing *on another project where you're trying to use diff_cover*, you run into problems. Here's a sample `tox.ini` extract:

    commands =
        py.test --cov-report term-missing -

[2020-02-29 01:52] AdamWill commented on #139
aha, managed to find a solution to this courtesy of Hynek again. It's not quite obvious from the preamble, but it's covered at 'COMBINED COVERAGE' in [this post](https://hynek.me/articles/testing-packaging/). You can pull it off if you skip using `pytest-cov` (which essentially has pytest run coverage) and instead use `coverage` directly to run the tests via pytest, and use a coverage config optio

[2020-02-29 01:52] #139 closed

[2020-02-29 01:52] Bachmann1234 commented on #139
woot!

[2020-04-17 08:55] wozhangdale commented on #123
i have same question，but i cold not find answer

[2020-05-04 11:57] ydirson opened #141 "`--compare-branch` should default to `@{upstream}` and not `origin/master`"
Not all branches are forked off a branch named `master` in remote `origin`.  When an upstream has been configured for current branch it should be the first choice; when there is none `origin/master` is still the obvious default.

[2020-05-21 18:21] jacksonpradolima commented on #123
+1

[2020-05-21 18:56] Bachmann1234 commented on #123
I have nothing to go on with this bug. I would need some details or an example project that reproduces this behavior to solve it.

[2020-05-21 19:43] jacksonpradolima commented on #123
Hi @Bachmann1234

I applied the diff-cover in the [alibaba/druid](https://github.com/alibaba/druid) repository after to run the [JaCoCo version 0.8.5](http://search.maven.org/remotecontent?filepath=org/jacoco/jacoco/0.8.5/jacoco-0.8.5.zip) in the last commit (hash **f95f1c6436e45b9237b76972b879ef3bb28d8758**).

To reproduce the problem, you can run the following commands:

1) Clone the repository:

[2020-05-22 01:34] Bachmann1234 commented on #123
@jacksonpradolima

Im getting build failures. However, if you send me a generated `jacoco_coverage.xml` file I can work with that.

That being said, this is a java project. I suspect the paths in the xml are not lining up with the src in the repo. I bet you just need to set a source root with `--src-roots`

[code]

[2020-05-22 20:42] jacksonpradolima commented on #123
@Bachmann1234

This is a part from entire file and it allows to reproduce the output. I don't know if you need the entire file.

[code]

[2020-05-22 22:06] Bachmann1234 commented on #123
Hmm, it looks like diff cover is not parsing the xml correctly. Im not 100% sure what the fix is. I wonder if @peterg79 is around. He wrote the PR around this and may have better insight.

[2020-05-28 17:53] peterg79 commented on #123
I'll try to take a look shortly.

[2020-06-02 09:38] cverna opened #143 "Integration tests failing with Python 3.9"
Using Python3.9 the following tests are failing, adding the py39 target to tox.ini should make it possible to reproduce.

[code]

[2020-06-02 13:36] Bachmann1234 commented on #143
Diff cover does not currently support 3.9. I will likely look into supporting it at some point but if people dont feel like waiting for me to get around to it im open to get a pr for it.

[2020-06-02 13:54] Bachmann1234 commented on #143
In other news, my PR checks seemed to have stopped working and I merged a PR that broke the build. So ill be trying to fix things tonight. The good news for this issue is while im in there ill take a look at 3.9 and if I can get it done relatively quickly ill add support.

[2020-06-03 01:56] Bachmann1234 commented on #143
@cverna this should be fixed if you pull master. Turns out all python versions were broken (I did not notice because something with travis updated causing prs not to get updates)

https://pypi.org/project/diff-cover/3.0.0/

I have not added python3.9 to the build though. I can do that when TravisCI adds support

[2020-06-03 01:56] #143 closed

[2020-06-03 06:34] cverna commented on #143
Thanks

[2020-06-03 14:46] gaborbernat commented on #138
@Bachmann1234 that does not work, probably because that requires ``__main__.py`` files within the ``diff_cover.diff_cover_tool`` and ``diff_cover.diff_quality_tool`` pckages.

[2020-06-04 12:29] dvzrv opened #146 "flaky test: JsonReportGeneratorTest::test_generate_report"
Hi! When building the 3.0.0 package for Arch Linux I ran into this test *sometimes* failing:

[code]

[2020-06-04 15:01] Bachmann1234 commented on #146
I think I see whats going on. SrcStats is a dict. If I had to guess the underlying test is doing a string comparison. Ill take a look when I get a second and put in a fix for this.

Little surprised CI did not catch this given that between all the versions it runs the suite like 6 times.

if I had to guess its 2.7 failing (python3 has ordered dicts)

[2020-06-04 20:46] Bachmann1234 commented on #146
My assumption was wrong (fails under 3 periodically)

[2020-06-04 20:57] Bachmann1234 commented on #146
https://github.com/Bachmann1234/diff_cover/pull/149 should fix it. Will be merged shortly

[2020-06-04 20:57] Bachmann1234 commented on #146
Looks like this is part of package testing, ill do a release shortly as well

[2020-06-04 21:25] Bachmann1234 commented on #146
Checkout https://pypi.org/project/diff-cover/3.0.1/ and let me know if that does not work for ya

[2020-06-04 21:25] #146 closed

[2020-06-05 13:00] dvzrv commented on #146
@Bachmann1234 thanks, this looks alright now! :)

[2020-07-01 09:49] williamfzc opened #150 "diff without git"
Hello there, very nice project and works fine. Git is good and famous but currently we met same issues as:

- #16 : someone does not manage repos with git
- #26 : no SCM dir (CI server, etc.)
- ...

For these reasons, I wrote a draft about my implementation (very hack and simple now) based on comparing files.

https://github.com/williamfzc/diff_cover/tree/without-git

This feature mainly be implem

[2020-07-13 09:45] pgyCode opened #151 "Problem: diff_cover.command_runner.CommandError: <exception str() failed>"
system: mac os
for Android
shell:
cd /Users/haha/AndroidStudioProjects/jacocodemo/app/build/reports/jacoco/jacocoTestReport
diff-cover jacocoTestReport.xml

python: 2.7 / 3.8 all tried

error:
File "/usr/local/bin/diff-cover", line 11, in <module>
    load_entry_point('diff-cover==3.0.1', 'console_scripts', 'diff-cover')()
  File "build/bdist.macosx-10.15-x86_64/egg/diff_cover/diff_cover_tool.py",

[2020-07-13 09:46] pgyCode commented on #151
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE report PUBLIC "-//JACOCO//DTD Report 1.0//EN" "report.dtd">

<report name="app">
  <sessioninfo id="unknownhost-f0bdd954" start="1594620540217" dump="1594620544163"/>
  <package name="com/example/jacocodemo">
    <class name="com/example/jacocodemo/BuildConfig">
      <method name="&lt;init&gt;" desc="()V" line="6">
        <counter type="INSTRUCTIO

[2020-07-13 09:46] pgyCode commented on #151
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE report PUBLIC "-//JACOCO//DTD Report 1.0//EN" "report.dtd">

<report name="app">
  <sessioninfo id="unknownhost-f0bdd954" start="1594620540217" dump="1594620544163"/>
  <package name="com/example/jacocodemo">
    <class name="com/example/jacocodemo/BuildConfig">
      <method name="&lt;init&gt;" desc="()V" line="6">
        <counter type="INSTRUCTIO

[2020-07-13 09:46] pgyCode commented on #151
`<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE report PUBLIC "-//JACOCO//DTD Report 1.0//EN" "report.dtd">

<report name="app">
  <sessioninfo id="unknownhost-f0bdd954" start="1594620540217" dump="1594620544163"/>
  <package name="com/example/jacocodemo">
    <class name="com/example/jacocodemo/BuildConfig">
      <method name="&lt;init&gt;" desc="()V" line="6">
        <counter type="INSTRUCTI

[2020-07-13 09:47] pgyCode commented on #151
[code]

[2020-07-13 09:48] pgyCode commented on #151
wait for   your response   thank you

[2020-07-13 13:02] pgyCode commented on #151
i m sorry for the problem, change 2.7 to 3.8, i meet new problem and pass this, dont care the problem, sorry.

[2020-07-13 13:02] #151 closed

[2020-07-30 12:04] dimaov opened #152 "[WinError 2] The system cannot find the file specified When run diff-cover in windows docker container"
Hello

We get the error [WinError 2] The system cannot find the file specified  when trying to run diff-cover inside the mcr.microsoft.com/windows:1809 docker container

Python Version 3.4.3

Step to reproduce:
1 Add python-3.4.3.amd64.msi to mcr.microsoft.com/windows:1809 docker image
2. Run the container with python-3.4.3.amd64.msi  added
docker run <image_with_python_msi_added> powershell
3 Ins

[2020-07-30 15:26] Bachmann1234 commented on #152
so I dont know how much help I can be here as I am not super familiar with this environment...

but judging by the stack trace running git is failing

This is the command diff cover is trying to run

`git rev-parse --show-toplevel --encoding=utf-8`

I would see what happens when you run that command in the container without diff cover.

[2020-07-30 20:30] dimaov commented on #152
@Bachmann1234

Thanks a lot first of all
I think it was very helpful comment because actually git not installed inside the container and i didn't take that into consideration

I will try to install git inside the docker image and let you know results but i believe it fixes the issue

[2020-08-05 08:24] dimaov commented on #152
@Bachmann1234
The issue above has been fixed after installing Git
But now i get the another failure

[exec] Traceback (most recent call last):
     [exec]   File "c:\Python34\Scripts\diff-cover-script.py", line 9, in <module>
     [exec]     load_entry_point('diff-cover==0.8.6', 'console_scripts', 'diff-cover')()
     [exec]   File "C:\Python34\lib\site-packages\diff_cover\tool.py", line 243, in m

[2020-08-05 12:23] #152 closed

[2020-08-05 12:24] dimaov commented on #152
Can be closed. The issue has been fixed by installing Git inside the docker container

[2020-08-08 05:02] gschaffner opened #153 "diff-cover crashes when used in a shallow repository with git >=2.28"
Git 2.28 introduced changes to how ranges are treated by `git-diff`.

Also see https://github.com/git/git/commit/8bfcb3a690126e6222f0d4f7012b0f68bb748018.

This can produce errors like

[code]

@dimaov reported this error in https://github.com/Bachmann1234/diff_cover/issues/152#issuecomment-669056592, but they were presumably able to fix it by installing git < 2.28.

The error occurs in shallow re

[2020-08-10 12:28] Bachmann1234 commented on #153
Thanks for the info! I need to make some time to dig into this some.

[2020-08-17 08:36] MichaelLogutov opened #154 "Is there a way to make diff-cover ignore whitespaces?"
Hello.
We're using diff-cover in our CI pipeline for python and C#. And with C# it's perfectly safe to have code spaces/tabs reformatted. So if there is a diff that has lines with only whitespace changes which are not covered by tests, diff-cover shows those lines as not covered, which is correct for space-dependent languages like Python, but for C# it is not.
Git diff has several options to ignor

[2020-08-17 12:34] Bachmann1234 commented on #154
In theory integrating these commands into diff cover would be fairly easy. Add an option, if option is present pass the required arguments to git.

However, I do wonder if it would make sense. Diff-cover works off of the coverage report passed into it. Is your coverage report marking these lines as not covered? Is there an option that should be passed to the coverage tool to ignore these lines?

[2020-08-18 06:24] MichaelLogutov commented on #154
I see your point. Well, strictly speaking you're right - everything should be covered. But in large code base spread over many microservices it's quite common to have parts that are not covered. We have DI pipeline that reacts to low diff coverage and stops the build. And it's a problem when someone formats legacy C# code that does not have unit tests coverage - strictly speaking the code hadn't b

[2020-08-18 13:17] Bachmann1234 commented on #154
That being said. It should not be a hard feature to add. Ill look into it over the weekend.

[2020-08-18 13:48] afaucogney opened #155 "DiffCover / Jacoco issue in Bitrise Ci"
I succeed to run diff_cover on my macOS, but it does failed on the Bitrise Ci server:

Here is the issue:
[code]

Any idea what could be wrong ?

[2020-08-18 14:55] afaucogney commented on #155
I use this configuration:
[code]

[2020-08-18 16:02] Bachmann1234 commented on #155
Any chance you are working from a shallow clone of the repo? That would explain it.

[2020-08-18 16:10] Bachmann1234 commented on #155
I would also try to run the diff outside of diff cover. Just with a vanilla git command

`git diff origin/develop...head`

[2020-08-19 06:22] MichaelLogutov commented on #154
Thank you. Would be great, if you have time.

[2020-08-19 07:48] afaucogney commented on #155
@Bachmann1234 That was the case, I did a git diff in the meantime, and "tada", it doesn't work too.

So for others in my case, you need to fetch the develop branch in your ci runtime, by:

`git fetch origin develop` then the branch is available so diff-cover can work.

[2020-08-19 07:48] #155 closed

[2020-08-24 06:24] MichaelLogutov commented on #154
Thanks! We will check.
Yeah, we're running python 3.

[2020-08-31 07:12] MichaelLogutov commented on #154
Sorry for delay. We've tested your changes and it seems they're working fine. They not rule out all possible formatting changes but it's a limitation of git I think.
We'll look into getting new package version from pip.
Thank you!

[2020-08-31 13:08] #154 closed

[2020-08-31 13:24] Bachmann1234 commented on #154
@MichaelLogutov https://pypi.org/project/diff-cover/4.0.0/ released

[2020-09-02 10:56] dvzrv opened #158 "test_added_file_pylint_console fails with pylint 2.5.3"
Hi! When packaging 4.0.0 for Arch Linux I have a failing test with `test_added_file_pylint_console`:

[code]

It seems that hardcoding tests based on the output of other tools is not very reliable. Maybe there is a better way to achieve what you would like to do there?

[2020-09-02 12:30] Bachmann1234 commented on #158
So I agree the tests are not the most stable. Diff cover at it's heart is a tool combining the output of many different tools and analyzing the results.

So I think the lack of stability in the tests is kinda what I signed up for. Technically I could pin the versions of these tools in tests. But essentially I use the tests instability as a Canary to tell me if a tool has made a change that breaks

[2020-09-02 14:57] dvzrv commented on #158
Thanks for the explanation! I think it might be related to the version 2.5.3 then.
Seems we have 2.6.0 in testing right now. Will report back once I can build against it!

[2020-09-07 08:03] benzid-wael opened #159 "Package not installed properly in Python 2.7"
When I run this command `diff-cover coverage.xml` I got `ImportError`, below the traceback for the raised error

[code]

which look like that not the proper version of `tokenizer` got installed

However, when I checked your requirements file I didn't find that dependency

Can you update your requirements file?

[2020-09-07 12:02] Bachmann1234 commented on #159
I think you need to move to an older version of diff cover. As of the latest diff cover dropped python 2.7 support

[2020-09-08 15:08] manelclos opened #160 "Support silent or quiet mode"
Display output only for errors and failures.

[2020-09-14 19:57] #159 closed

[2020-09-22 20:55] jaraco commented on #159
I think it was a mistake to drop support for Python 2.7 without declaring non-support for that Python version with [PEP 345](https://www.python.org/dev/peps/pep-0345/) Python-Requires. As a result, every downstream packager that pulls in this package using Python 2 will get the unsupported version:

[code]

Here's what I recommend. Either:

- Re-release 3.0.1 as 4.0.1 and then release 4.1 or 5.0 d

[2020-09-22 21:08] Bachmann1234 commented on #159
Yeah, looks like I goofed here. Thanks for catching it

[2020-09-22 21:49] Bachmann1234 commented on #159
Ok I applied @jaraco 's fixed. Released 4.0.1 and yanked 4.0.0. Sorry for the trouble yall

[2020-09-22 23:43] jaraco commented on #159
Works like a charm. Thanks for the super-fast response!

[2020-09-23 13:13] dvzrv commented on #158
This works now as expected with pylint >= 2.6.0 (when building diff_cover 4.0.1).

[2020-09-23 13:13] #158 closed

[2020-10-20 07:50] ZSmallX opened #162 "Not support 'python -m diff_cover ...'"
Hi~
Are there any plan or any requirement to support module usage?
Like ' python -m diff_cover xxx'

Currently, it shows:
'No module named diff_cover.__main__; 'diff_cover' is a package and cannot be directly executed'

[2020-10-20 14:33] Bachmann1234 commented on #162
for diff cover
[code]

for diff quality
[code]

[2020-10-20 14:33] #162 closed

[2020-10-29 05:16] ZSmallX commented on #162
Nice~ But it will be better if those usages is introduced in `README.md`.

[2020-11-24 12:09] hurenjie2019 commented on #123
+1, I have same question , could not solve this

[2020-11-24 19:56] peterg79 commented on #123
@hurenjie2019 Please attach the output of `diff-cover`, the output of `git diff`, and `jacoco_coverage.xml`. In most cases this happens if you run diff-cover on master branch - eventually, it will not find any differences.

[2020-11-25 06:25] hurenjie2019 commented on #123
Hi, @peterg79

1.  diff-cover  report/index.html  --html-report report.html --compare-branch=origin/master
-------------
Diff Coverage
Diff: origin/master...HEAD, staged and unstaged changes
-------------
No lines with coverage information in this diff.
-------------

2. git diff origin/master
diff --git a/****.css
 b/***.css
index ee1c9c82c0..3a05064201 100644
--- a/***.css
+++ b/***.css
@@ -143,

[2020-12-13 19:35] jaraco commented on #141
Additionally, the ecosystem is [transitioning](https://github.blog/changelog/2020-10-01-the-default-branch-for-newly-created-repositories-is-now-main/) from `master` to `main` as the default branch name, so `origin/master` is no longer an obvious default. I'd recommend to infer the upstream branch. I'd even go as far as to say that `main` should be the preferred fallback, but if any of `main`, `ma

[2020-12-14 17:20] Bachmann1234 commented on #141
A PR that simply changes the default from `master` to `main` would likely break existing users which I don't really want to do.

However, a PR that works by detecting the upstream mainline branch would be more than acceptable for merging.

[2020-12-26 23:25] f18m commented on #55
Hi @twall , @Bachmann1234 ,
I think I hit a similar problem. In my case I'm not using Jenkins but rather Teamcity. Also Teamcity does something like "git checkout -f <commit-hash>" at some point and thus clones the git repo in a "HEAD detached" condition (https://www.git-tower.com/learn/git/faq/detached-head-when-checkout-commit/).
I tried and indeed a command like "git diff origin/develop..HEAD"

[2020-12-28 00:03] f18m opened #163 "support for markdown"
First of all, thanks for this great tool - I'm looking into some options for integrating it with my current pipeline (gitlab based).

Here's one problem I've found: I would like to embed the output of diff-cover directly into a comment (created by a bot) into the merge request (=pull request) of gitlab.
Gitlab MRs (and also github PR) API uses markdown for comments. Thus the integration work would

[2020-12-28 04:51] Bachmann1234 commented on #163
In theory it would be pretty easy for someone to add, just a couple of classes here and some updates to the command line arguments.

Though it may be a bit more flexible use the json output and then render it as markdown with some external script.

[2020-12-28 14:32] f18m commented on #163
Hi @Bachmann1234 ,
I had a look at the JSON format and I see it's lacking the rendering of actual lines of the diff... the nice thing about the HTML report I think is the presence of such lines...

Anyway if you would accept a PR adding markdown as output report format, I can try having a look and send the PR out.
Can you give me some hint where to start? 👍
Thanks!

[2020-12-28 14:51] Bachmann1234 commented on #163
Sounds like a reasonable pr. I'd likely merge it assuming proper tests and at least some parity with the diff-quality tool.

This is the main file you would likely be working in https://www.github.com/Bachmann1234/diff_cover/tree/master/diff_cover%2Freport_generator.py

[2021-01-07 23:22] Bachmann1234 commented on #163
Released https://pypi.org/project/diff-cover/4.1.0/

[2021-01-07 23:22] #163 closed

[2021-01-09 14:34] f18m commented on #163
Thanks @Bachmann1234 !
I hope the feature will be useful to other users as well!
I will open a new issue to suggest/propose some additional documentation on how to use diff-cover with Gitlab/github, as I had some troubles integrating it

[2021-01-09 14:46] f18m opened #165 "Provide documentation on how to integrate diff_cover with Gitlab/Github projects"
Hi,
I found some troubles integrating diff_cover in my CI/CD pipeline and I would like to share how I did get it to work.
My project is hosted on Gitlab but I use Teamcity for its CI/CD (rather than the .gitlab-ci.yaml file).
I think however the "problems" I hit might be similar in other use cases.

Here are the 2 issues I found:
1) when Teamcity is doing the checkout of the project to build it, i

[2021-01-09 16:20] dvzrv opened #166 ".cpp fixtures missing in pypi sdist tarball"
Hi! When packaging 4.1.0 for Arch Linux I noticed that `test_load_snippets_markdown` is failing due to the missing .cpp files in the fixtures directory: `FileNotFoundError: [Errno 2] No such file or directory: 'snippet_src2.cpp'`

[2021-01-09 16:43] Bachmann1234 commented on #166
Hmm, probably something missing from the manifest. I'll take a look as soon as I can

[2021-01-09 18:46] Bachmann1234 commented on #166
Yeah, looks like `*.cpp` was not in the manifest. I updated it in https://pypi.org/project/diff-cover/4.1.1/

Pulled it down and ran them. Seems good now. Let me know if that works for ya

[2021-01-10 13:18] dvzrv commented on #166
Many thanks! It works without a problem with 4.1.1!

[2021-01-10 13:18] #166 closed

[2021-01-20 03:24] realhac opened #167 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbb in position 438: invalid start byte"
diff-cover generate diff report with --src-roots, the follwing exception occured due to differrent source code encoding format in projects:
Traceback (most recent call last):
  File "/usr/local/python3/bin/diff-cover", line 8, in <module>
    sys.exit(main())
  File "/usr/local/python3/lib/python3.9/site-packages/diff_cover/diff_cover_tool.py", line 232, in main
    percent_covered = generate_cove

[2021-01-20 03:31] Bachmann1234 commented on #167
Can you give me a bit more info to reproduce? What encoding is your source files?

[2021-01-20 03:41] realhac commented on #167
currently, in a project,  some source files are "fileencoding=utf-8", and others are "fileencoding=latin1".

[2021-01-20 03:47] Bachmann1234 commented on #167
Hmm, multiple encodings.

Kk, I'll do some thinking. I got a couple ideas.

On Tue, Jan 19, 2021, 10:41 PM realhac <notifications@github.com> wrote:

[2021-01-20 06:29] wangbo0105 opened #168 "Use pain points: reports merged && Specify multiple source paths"
Use pain points:
1. Cannot specify multiple source paths for diff-cover --src-roots
2. Multiple reports generated by diff-cover cannot be merged

[2021-01-20 07:49] wangbo0105 opened #169 "why HTML&JSON reports are prohibited and why they cannot be generated at the same time"
Want to know why HTML&JSON reports are prohibited and why they cannot be generated at the same time

`output_format = parser.add_mutually_exclusive_group()`

[2021-01-20 19:03] Bachmann1234 commented on #168
while yeah, diff cover cannot merge reports (pr welcome) I will say you can absolutely specify multiple src-roots

the argument is defined as such
[code]

You should just be able to list multiple arguments for each src root

[code]

[2021-01-20 19:05] Bachmann1234 commented on #169
I don't really have a why beyond thats the way its coded.

I would be open to a PR that allowed multiple reports to be generated as long as it was tested and backwards compatible

[2021-01-20 19:52] Bachmann1234 commented on #167
@realhac I took a stab at fixing this in a way that would require no change on your side. Let me know if 4.2.0 https://pypi.org/project/diff-cover/4.2.0/ works for you.

If not I think I will have to go in and allow users to specify what encodings I should be expecting.

[2021-01-22 03:16] ZSmallX opened #170 "diff cover json report don't contain the total lines' number"
Is that any support that the json report contains the diff total lines' number?

The total lines number is import for report display? Is it should be given?

Json report is generated in the below cmd:

`diff-cover my_jacoco.xml   --compare-branch origin/master --src-roots my_project/my_module/src/main/java  --json-report my_diff_cover_report.json`

The report contains `total_num_lines` and `violat

[2021-01-22 03:19] ZSmallX commented on #170
The git diff `git diff origin/master...HEAD`:

[code]

[2021-01-22 03:35] Bachmann1234 commented on #170
No support currently. But I would approve and release a pr that added that

[2021-01-27 02:07] realhac commented on #167
sorry for late. It seems not well.
Traceback (most recent call last):
  File "/usr/local/python3/bin/diff-cover", line 8, in <module>
    sys.exit(main())
  File "/usr/local/python3/lib/python3.9/site-packages/diff_cover/diff_cover_tool.py", line 232, in main
    percent_covered = generate_coverage_report(
  File "/usr/local/python3/lib/python3.9/site-packages/diff_cover/diff_cover_tool.py", line

[2021-01-27 02:45] Bachmann1234 commented on #167
Alrighty, I'll take another stab at this over the weekend.

[2021-01-30 16:43] Bachmann1234 commented on #167
Ok, I think I got at least this issue with https://pypi.org/project/diff-cover/4.2.1/

I was a bit lazy last time and did not reproduce with a test.

I am not 100% sure if I have solved this entirely. An example project to try would verify that. But how about you give 4.2.1 a shot and see if it works

[2021-02-04 05:31] realhac commented on #167
It looks like you have resolved this issue, thanks.

Total:   12 lines
Missing: 10 lines
Coverage: 16%

[2021-02-04 05:38] Bachmann1234 commented on #167
woot!

[2021-02-04 05:38] #167 closed

[2021-02-06 08:55] yayalbugu opened #172 "more analysis data will be better"
we may need more analysis data ,such as branches coverage,Cyclomatic Complexity。

[2021-03-01 14:33] andriitc opened #174 "Python3.5+Ubuntu16.04.5 LTS"
Hi folks!
How are you ?
I have a small problem:

[code]

Can you help me ?

[2021-03-01 15:34] Bachmann1234 commented on #174
Howdy!

So here is what I think is happening. This project depends on Jinja2 and Jinja2 pluralize both support python3.5

Those projects depend on https://github.com/jaraco/inflect/ which does _not_ support python3.5.

Last week inflect made a release that uses fstrings. A feature added to python in version 3.6.

SO I think if you uninstall inflect. Then install inflect==5.0.2 this should work aga

[2021-03-01 16:23] andriitc commented on #174
@Bachmann1234 Thank you for replay.

What I have now:
[code]
and

[code]

[2021-03-01 16:35] Bachmann1234 commented on #174
Looks like another python 3.6 feature. Looking at their changelog  https://github.com/jaraco/inflect/blob/main/CHANGES.rst#v400 they dropped 3.5 support in V4.0.0

So maybe try out v3.0.2

[2021-03-01 18:41] andriitc commented on #174
It works . Thank you !!
[code]

[code]

[2021-03-01 18:44] Bachmann1234 commented on #174
kk, ill publish a fix in the package today.

[2021-03-02 03:27] Bachmann1234 commented on #174
https://pypi.org/project/diff-cover/4.2.2/ should work without needing to install inflect yourself

[2021-03-02 03:27] #174 closed

[2021-03-02 09:40] andriitc commented on #174
Yes, it works !

[2021-03-03 10:20] yujunjiex opened #175 "GitDiffReporter._parse_lines calculate (added_lines, deleted_lines) may be unexpected?"
func of _parse_hunk() explain hunk line is :

and only returned 'n' in the code

https://github.com/Bachmann1234/diff_cover/blob/01f91760321cee1ad28cfa0d801c4acd8b9765a6/diff_cover/diff_reporter.py#L420-L435

func of _parse_lines() call _parse_hunk() to get 'n', and seem think that both variables of 'current_line_new' and 'current_line_old' are equal to 'n'

https://github.com/Bachmann1234/diff_co

[2021-03-08 10:40] The-Compiler commented on #174
If you have an up-to-date pip, it should take care of this automatically:

[code]

(Note how inflect-3.0.2 got installed despite me installing the older 4.2.1 version of diff-cover)

Since `inflect` is now pinned in `setup.py`, this change forces an older version of `inflect` onto everyone who installs `diff_cover`.

[2021-03-08 14:15] Bachmann1234 commented on #174
Point is somewhat moot. I'm overdue for dropping 35 and adding 39. I'll do that this week and drop the pin.

[2021-03-08 23:40] Bachmann1234 commented on #174
@The-Compiler https://pypi.org/project/diff-cover/5.0.0/ is out and the pin is no longer there.

I understand your greater point that the pin was never really necessary assuming the user was using the latest `pip` but like I said, I was overdue on dropping 3.5

[2021-03-10 14:55] GertBurger opened #178 "Relax chardet version requirements"
Hi,

diff-cover depends on exactly `chardet==4.0.0`. This makes it difficult to use in projects where other dependencies also depend on `chardet`, but on a different version or version range.

For example, `requests` still depends on `chardet` 3.x

Based on the current usage of `chardet` I don't think version 4.x is required and >=3.0 should suffice.

[2021-03-11 00:59] Bachmann1234 commented on #178
fair 'nuff

https://pypi.org/project/diff-cover/5.0.1/ settles it

[2021-03-11 06:01] GertBurger commented on #178
:man_dancing: Thanks!

[2021-03-11 06:01] #178 closed

[2021-04-09 07:27] fernandobrito opened #179 "Subfolders and relative paths"
Hello! This is my first attempt to use `diff_cover`, so please let me know if I'm missing something obvious 😄 .

To give more context, I want to use `diff_cover` together with the [sqlfluff](https://github.com/sqlfluff/sqlfluff) linter. They register themselves as a plugin and it seems to work very well on usual setups: https://docs.sqlfluff.com/en/stable/production.html#adding-diff-quality-to-you

[2021-04-09 09:59] fernandobrito commented on #179
Ahaha, as a side note, I just spent like 30 minutes trying to figure out how to run (on my fork):
[code]

Python `argparse` doesn't like this syntax. It will try to parse my last argument as a command and return:
[code]

The solution is to run as:
[code]

As found in a comment on this question: https://stackoverflow.com/questions/45541581/using-argparse-with-argument-values-that-begin-with-a-dash

[2021-04-10 14:27] Bachmann1234 commented on #179
@fernandobrito if I understand this fully (and ill admit I can be a but slow sometimes :-P) just passing the absolute paths to quality tools will fix it (solution 1)

I don't believe we need an extra arg here because absolute paths and relative paths should be backwards compatible.

can you do me a favor and experiment with this branch and let me know if it helps you out?

https://github.com/Bachm

[2021-04-10 16:36] fernandobrito commented on #179
Hi, @Bachmann1234, thanks a lot for your quick response and proposed solution!

I'm just testing your branch now and I realize two things:
1) The change you did doesn't get executed in my particular case because the tool that I use (`sqlfluff`) registers itself as a plugin inheriting from `BaseViolationReporter`, and your changes are in `QualityReporter`. Here is the code for their plugin: https:/

[2021-04-10 19:02] Bachmann1234 commented on #179
I think if abspath worked like you said all my tests would have exploded.

I could be wrong here but I don't think abspath joins at all so much as converts the relative path to an absolute one by tracing backwards to the root.

[2021-04-10 19:11] Bachmann1234 commented on #179
Ultimately I'm not completely against adding the arg (assuming tests and maybe a bit to the readme gets added)

Just if we could get this working without adding more arguments that seems cleaner as the diff parsing can be a bit fragile and I worry that a lot of attempts to do anything non trivial with this arg will have problems.

[2021-04-10 22:13] fernandobrito commented on #179
I agree that it will be much simpler if there's no new argument (and users can also do a `--include` like I mentioned or if `--exclude` can support negations), but I think we need to get more creative with the paths.

`abspath` documentation states:

https://docs.python.org/3/library/os.path.html#os.path.abspath

Also testing locally:
[code]

(note the double `project_1`)

If we could make `git di

[2021-04-11 16:17] Bachmann1234 commented on #179
🤔 gotcha.

Yeah, I think I like using `rev-parse` to get the git root. I dont ... think .... you can get the absolute path from `git diff`.

but ive been wrong once in this convo already!

[2021-04-11 18:19] fernandobrito commented on #179
I can try a PR if you are busy.

Update: ah wait, I was looking for a good place to put such call to `rev-parse` but it's already there in the codebase 😮 . https://github.com/Bachmann1234/diff_cover/blob/master/diff_cover/git_path.py#L66. I guess I just have to use it before we pass the path to the tool.

[2021-04-11 21:10] altendky commented on #55
For what it's worth...  This didn't work.

[code]
[code]

But this did.

[code]

Though now I'm just passing in the `origin/master` or the parent hash depending.  (isn't choosing either this or that just silly in GHA...)

[code]

[code]

https://github.com/Parquery/pylddwrap/pull/20

[2021-04-23 15:52] nasava opened #182 "Support for condition coverage"
Hallo, as far as I can see the condition/branch coverage reported by jacoco is not yet supported by diff_cover, isn't it?

How easy/hard would it be to add support? As far I can see up to now the tool is line oriented.
Maybe as a separate plugin which counts the lines plus the conditions.
(Exactly this metric is used in my project for new code to be accepted into master)

[2021-04-29 06:10] iakum opened #183 "How to only check certain paths with diff-quality"
Hi guys,
I have a question how to use diff-quality correctly. Maybe I just miss a point.

Let's say I have a project layout like
- myproject/dummy.py

If I now change dummy.py and run diff-quality as `diff-quality --violations=flake` dummy.py gets checked, which is fine.
However, if I now add a new python file on the root level (let's say x.py), and run diff-quality again, also x.py gets checked.

[2021-04-29 12:10] Bachmann1234 commented on #183
I don't think diff quality  has an option or config to only let you hit a specific file or path right now.

Sorry! I'd be open to a pr emailing that for diff cover/diff quality

[2021-05-03 09:02] kasium commented on #183
Hello @Bachmann1234 ,
I'll work on a PR.

I tried to keep the new include similar to the exclude, but I guess that the fnmatch module is the wrong way to go, but glob should work better. The fnmatch module doesn't threat "/" as special which makes any matching quite hard. What is your opinion on this?

Best regards,
Kai

[2021-05-03 23:20] Bachmann1234 commented on #183
I think glob would make more sense. But ultimately whatever works better.

[2021-05-11 22:19] ganeshramc opened #188 "Broken syntax due to jinja release"
I'm using the version 4.2.3 in my jenkins pipeline. It looks like there was a new jinja2 release which is making diff_cover fail.
Release: https://github.com/pallets/jinja/releases/tag/3.0.0
Stacktrace:

[code]

[2021-05-11 23:27] Bachmann1234 commented on #188
I would try upgrading your python or pinning jinja down.

Jinja2 version drops support for python 3.5. I suspect they are leveraging features introduced in 3.6 and beyond now.

https://jinja.palletsprojects.com/en/3.0.x/changes/

[2021-05-11 23:33] ganeshramc commented on #188
Ahh! Okay thanks I'll give that a try.

[2021-05-12 02:40] #188 closed

[2021-05-28 07:34] ZSmallX opened #190 "Total lines is wrong when there's condition/branch info in Clover format while it's correct in Cobertura format"
I have the same JavaScript source code, and generate XML reports by Jest.

diff_cover has a different performance in Clover format and Cobertura format.

diff_cover version: 5.1.1

Here's my code, git diff, Clover report, Cobertura report and diff_cover output:

Code:

[code]

Git diff:
git diff origin/master...HEAD apps/projectA/src/isLucky.js

[code]

Clover report
[code]

Cobertura report

[cod

[2021-05-28 07:37] ZSmallX commented on #190
Cmd outputs:

[code]

[2021-05-29 14:50] Bachmann1234 commented on #190
I'll take a look today

[2021-05-29 20:43] Bachmann1234 commented on #190
@ZSmallX pleas let me know if https://pypi.org/project/diff-cover/5.1.2/ works any better for you.

And thank you for the detailed report. Made looking into this much easier

[2021-05-30 15:00] ZSmallX commented on #190
@Bachmann1234 Yes! It works fine in the version 5.1.2!

I got the same results in cmd outputs now.

But with lack of changed lines index, it can be confused that there is no way to check out  whether the changed lines is actually the same.

https://github.com/Bachmann1234/diff_cover/issues/170

[2021-05-30 15:00] #190 closed

[2021-06-14 16:24] kasium opened #195 "Should we pin test dependencies"
Hi all,

I would like to get some opinions on this topic: In my projects I tend to fix the versions of my test/dev dependencies such as pylint, flake8 or pytest. The reason is quite simple: Let's say pytest releases a new version and the behavior of whatever changed. Any PR must wait for a fix or a version bump.

In the case we would fix the dependencies, we could use tools like dependabot to auto

[2021-06-14 16:27] Bachmann1234 commented on #195
I don't pin these explicitly. The build failing is a signal that `diff-quality` could be breaking with these tools so I want to make sure I see that.

[2021-06-14 16:27] #195 closed

[2021-06-14 16:31] kasium commented on #195
Thanks for the info

[2021-06-15 08:17] kasium commented on #170
@ZSmallX I'm happy to create a PR for this. Can you please let me know if my understanding is right?
You want a field in the json report which contains the number of lines which are changed. So not only the number changed AND covered lines but all the number of all changed?

[2021-06-15 08:51] kasium commented on #134
Hi,

I took a look into this and found out, that diff-cover already supports a terminal output which is just not used
https://github.com/Bachmann1234/diff_cover/blob/14e3d4d388e8815a96757efd9ec252fdd52409df/diff_cover/snippets.py#L130-L140

Unfortunately, the lines which are not covered are not highlighted as in the html report.
I guess we should decide if this is fine or if we need highlighting.

[2021-06-15 17:05] kasium commented on #5
@nedbat sorry for the late update :-D

I can't reproduce the issue with pylint 2.8.3. So guess it's not longer relevant

[2021-06-15 22:17] Bachmann1234 commented on #5
Little embarrassing to see my 2015 comment. Closing this for now. Ned knows how to get ahold of me if he needs me.

[2021-06-15 22:17] #5 closed

[2021-06-15 22:37] Bachmann1234 commented on #134
So yeah the markdown formatter was added as part of this PR https://github.com/Bachmann1234/diff_cover/pull/164

You can see the back and forth. Markdown was a bit of an experiment that I guess we never followed though on.

Im sorta thinking highlighting is not terribly important if we are talking about a feature for CI workflows

[2021-06-16 05:40] kasium commented on #134
Thanks for the insights. If you don't mind, I can add it hidden by a flag. Any suggestions how to call it?

[2021-06-16 06:25] kasium commented on #92
Hi,

I did a quick analysis which might can help: flake8 reports E303 on the first line **after** the "too many" lines. If this line is not changed, diff-quaility thinks, that this issue exists independently from the change.

Personally, I see the issue on pycodestyle side to return the correct line number. Else a special handling would be needed which can be done in the driver (diff-quaility side

[2021-06-18 08:13] kasium commented on #160
@Bachmann1234 @manelclos I guess this can be closed now, right?

[2021-06-18 19:48] Bachmann1234 commented on #160
I usually wait until I do a release to close an issue.

@kasium the release is out https://pypi.org/project/diff-cover/5.2.0/

Thanks again for the work you have done here!

[2021-06-18 19:48] #160 closed

[2021-06-19 13:00] ZSmallX commented on #170
Yes, nice! I think that's enough to keep all the line members of all changed in JSON report, in case of big change of a huge file, which may make HTML and Markdown report ugly and unclear.

[2021-06-21 15:52] kasium commented on #54
@devos50 @Bachmann1234 I currently work on some issues here and so I also found this one.
With the latest version, the issue doesn't occur anymore

[2021-06-21 16:35] kasium commented on #134
Hi @maho @Bachmann1234,
i have created a short draft how it could look like. Maybe you can download the patch and take a look? The CLI option is "--show-uncovered"

[2021-06-22 22:41] Bachmann1234 commented on #170
@ZSmallX

This is released. @kasium did the work im just the messenger https://pypi.org/project/diff-cover/5.3.0/

[2021-06-24 22:53] Bachmann1234 commented on #134
@kasium @maho This is released https://pypi.org/project/diff-cover/5.4.0/

[2021-06-24 22:53] #134 closed

[2021-06-29 10:52] ssbarnea commented on #141
Oops it seems quite sad that after more than two years diff-cover is still not able to recognize default branches that are not "master".

As someone trying diff-cover for the first time that exceptions become a road blocker.
[code]

[2021-06-29 13:30] Bachmann1234 commented on #141
I agree it's frustrating. But I can't simply change the default without breaking existing users workflows

And while githubs default is `main` gitlab and git itself still very much default to `master`. I think `main` is a better name but it's not relevant to this project.

I'm the maintainer of this project. As such I try and provide timely feedback on prs. If I get a bug report with enough info t

[2021-06-29 15:23] kasium opened #209 "Move test package outside of source"
Hi,

I've seen that the test package is actually part of the source code. Would it make sense to move it to the root level?
[code]

[2021-06-29 15:26] Bachmann1234 commented on #209
the structure of the tests I sorta inherited when I took over the project.

I would not be against moving them out of the main package as that is a more common structure. But I also don't see it as a major issue. The tests are bundled with the release package anyway so I dont think there is a major benefit one way or another.

[2021-06-29 15:37] kasium commented on #209
I agree that this nothing important. Let me so that at time.

However, wouldn't it make sense to exclude the test folder to make the wheel smaller?

[2021-06-29 15:42] kasium commented on #31
@butla @Bachmann1234: diff-quality supports since version 5.1.0 an include option as well since 1.0.0 an exclude option. With this there is no need to use the pylint configuration to exclude stuff.

The other issues seem to be resolved. So, I guess this issue can be closed

[2021-06-29 15:46] #31 closed

[2021-06-29 15:52] kasium commented on #36
@agroszer @Bachmann1234 I just checked this issue here and it seems it's already implemented. If you change a python file and a txt file and run diff-quality with flake8, only the python file is considered.
This is done by the supported_extensions settings in teh flake8 driver. Same applies to pylint.

[2021-06-29 16:18] #36 closed

[2021-06-29 18:53] kasium commented on #169
@wangbo0105  Let me implement this feature request

[2021-06-29 18:57] kasium commented on #168
@wangbo0105 can you please explain this point a little bit further?

So, if you run diff-cover multiple times with e.g. "--json-report x.json" you want to have an option to merge them, right? Can you please explain the purpose of this?

[2021-06-29 19:06] kasium commented on #32
@Bachmann1234 I see here multiple things to improve, please comment and provide feedback:

1. Maybe it make sense to change the warning to an real error if the report is not found (diff-quality --violations=pep8 nothere will just show a warning but proceed as usual)
2. Fail if the violations reporter doesn't support report parsing, e.g. flake8 instead if silently swallow it
3. Check if the report

[2021-06-29 19:10] kasium commented on #141
My 2 cents here: I couldn't find a option as well to find the default branch. Maybe a CLI option would help the most. Else we could check if master exists and if not fall back to main (no clue if there are projects with both).

[2021-06-29 19:11] kasium commented on #92
@Bachmann1234  @Tomasz-Kluczkowski fyi

[2021-06-29 20:09] ydirson commented on #141
Well, is there anything wrong with using `@{upstream}` as I suggested in the title ?

[2021-06-30 00:08] Bachmann1234 commented on #141
@ydirson unless I'm mistaken @{upstream} is just the upstream version of your branch not the "core branch that represents the production ready code".

So I can have a branch "feature". Upstream would just be the version of that branch that is "upstream" to me. Usually github but technically could just be another version of the repo since git is designed to be fully decentralized

[2021-07-01 09:03] kasium opened #211 "diff-quality doesn't consider untracked files"
Hi,

so I just found out, that diff-quality doesn't consider untracked files. So new files which are staged are checked, but unstaged new files are ignore. The root cause is, that git-diff doesn't consider them as well. As far as I know, it's needed to include them manually by using "git ls-files ...".

I would like to suggest this as a feature (and I can do the PR of course): A new CLI flag which

[2021-07-03 14:12] #92 closed

[2021-07-03 14:12] #170 closed

[2021-07-03 14:12] #54 closed

[2021-07-03 14:13] #169 closed

[2021-07-03 14:24] Bachmann1234 commented on #211
So my gut feeling is this would add a lot of complexity simply to avoid the user having to run `git add .` or whatever.

I am not entirely closed off to the idea but I wonder if it would be more appropriate to simply print out a warning if diff_cover is run while untracked files are in the workspace.

That being said, if you feel strongly about it ill likely be fine with merging the result as long

[2021-07-03 14:28] Bachmann1234 commented on #32
1 and 2 make sense to me.

I don't fully see how 3 would work in general.

[2021-07-03 14:44] Bachmann1234 commented on #169
This is released https://pypi.org/project/diff-cover/5.5.0/

[2021-07-03 15:23] kasium commented on #211
@Bachmann1234 let me do a short PoC. If it's to complicated I'll just update the README :-) Thanks for your feedback

[2021-07-03 15:39] Bachmann1234 commented on #141
Ok, so I did some more reading and looked over the code and decided I was wrong about a few things.

1. gitlab has switched over to main
2. As y'all were saying git is actively working to change over to main as a default. I knew they added a config value but I had underestimated how far along this plan was

Sorry about that, most of the time when looking at diff_cover issues its either at night wh

[2021-07-04 16:32] Bachmann1234 commented on #141
This release changes the default to main. https://pypi.org/project/diff-cover/6.0.0/

[2021-07-04 16:33] #141 closed

[2021-07-05 14:16] #209 closed

[2021-07-05 16:12] kasium commented on #175
I'm not quite sure with this since I'm new to the project, but let me try to give an answer.
As fas as I can see and my tests have shown, diff-cover works only on the "new" file, so it make sense to only get the "n". What should be the purpose to have the information, that the deleted line was e.g. 2?

Coverage reports are only using the current files (so in git diff the new). Therefore we only ne

[2021-07-05 18:53] Bachmann1234 commented on #175
Sadly I wont be too much help here as this logic was written before I took over the project and I never really learned these details all that well

[2021-07-05 20:29] kasium commented on #175
Let me try to dig a little bit deeper into it

[2021-07-08 21:45] #32 closed

[2021-07-08 21:52] #211 closed

[2021-07-08 21:58] Bachmann1234 commented on #32
This is out https://pypi.org/project/diff-cover/6.1.0/

[2021-07-08 21:59] Bachmann1234 commented on #211
This is out! https://pypi.org/project/diff-cover/6.1.0/

[2021-07-09 14:40] kasium commented on #135
@blueyed I cannot reproduce your issue. Here are my steps

1. Add two line to the end of the file, e.g. x=2, y=3
2. Stage the changes
3. Add something uncovered, e.g. if x == 3:, print("DADA")
4. python -m pytest --cov --cov-report=xml tests
5. diff-cover coverage.xml

It then says, that the line where the print is, is missing. Seems correct to me.
Did you generate the xml again before you ran dif

[2021-07-09 14:41] kasium commented on #73
@Bachmann1234 seems to be resolved to me or can I support here?

[2021-07-09 14:45] Bachmann1234 commented on #73
It can be closed I think

[2021-07-09 14:45] #73 closed

[2021-07-09 14:46] kasium commented on #172
@yayalbugu can you please explain your requirement a little bit more? I agree that branch coverage would be a nice idea but I'm not sure about CC. Such metrics need the whole code and diff-cover/quality just checking the diff and not the whole code.
There are also nice libraries like xenon which are designed to be used in CI.

@Bachmann1234 do you have any comments on this? Branch coverage was alr

[2021-07-12 07:41] kasium commented on #175
So I took some more time to understand the code here. I guess the naming is a little bit misleading here.
In my understanding, the deleted lines are only needed to keep track of differences between staged, unstaged and untracked files. If diff-cover would e.g. only support staged files we don't need to parse the deleted lines at all.
With that being said, the deleted lines "definition" is designed

[2021-07-12 09:14] kasium commented on #53
@Bachmann1234 I think it's possible to add JSON reporter here similar to the existing markdown/html reports. Any hurdles which you might see?

[2021-07-13 01:36] #175 closed

[2021-07-13 01:37] Bachmann1234 commented on #53
Nah, it should be really doable. I would start small since once we make it changing it risks breaking people's workflows.

[2021-07-13 07:05] kasium commented on #53
@nicoddemus @goanpeca I guess the python API of diff-cover is kind of private, I added a markdown and json report function to the diff-quality CLI. Please have a look (see #222 )

[2021-07-14 00:06] #53 closed

[2021-07-29 05:27] kasium opened #228 "No description on pypi"
Diff-cover has no description on pypi, but it would be nice to have a short one: https://pypi.org/project/diff-cover/
Also a link to the Changelog, would be very nice

[2021-07-29 05:49] Bachmann1234 commented on #228
So it used to have one. The description was the readme and if you look at
the setup.py I think it still is.  The problem is it does not parse
correctly. I tried to fix it a few times and have failed. I have not gotten
a terribly useful error back from pypi.

But I guess I can give it another shot..maybe this weekend

On Thu, Jul 29, 2021, 1:27 AM kasium ***@***.***> wrote:

[2021-07-29 06:04] kasium commented on #228
As you might remember I fixed a few issues in the README, maybe this already solved the issue.
I can also let a RST linter check the file, maybe this helps

[2021-07-29 06:13] kasium commented on #228
#229 I have found a few flaws and directly added a linter

[2021-07-30 22:46] Bachmann1234 commented on #228
Hey! That worked! Awesome!

https://pypi.org/project/diff-cover/6.2.1/

[2021-07-30 22:46] #228 closed

[2021-08-02 05:57] yayalbugu commented on #172
@kasium ,thank you so much.my purpose is to verify the quality of the  diff-code which includes branch coverage,cyclomatic complexity etc,but as you said,it's hard to achive this cc  because it depends on the whole code.

[2021-08-02 06:14] kasium commented on #228
great!

[2021-08-04 07:07] kasium commented on #83
@Bachmann1234 I guess we can close this due the absence of a reproducible example

[2021-08-04 07:18] kasium opened #233 "Support configuration files"
### Current state
All options are given over the CLI which works fine for the most use cases

### My suggestion
In some use cases it's better to use configuration files to define options. In addition, these options can be overwritten with options given to the CLI.

### Implementation
Personally, I would first create a configuration file reader (abstract so it can handle other files in the future).

[2021-08-04 16:06] #83 closed, assigned to nobody

[2021-08-04 22:47] Bachmann1234 commented on #233
@kasium I like the idea!

I did a little bit of research.

Coveragepy and black both use a project `tomli` to parse pyproject.toml files. https://pypi.org/project/tomli/ I would require we stick to that so we dont force people to have multiple toml parsers.

I think I agree with your basic priority for files. First read config, then let the CLI override things.

I would prefer not having a magical

[2021-08-05 07:45] kasium commented on #233
@Bachmann1234 thanks for your feedback. I worked before with ``toml`` but ``tomlli`` seems to be fine too. I agree, that should be an optional dependency.

Since diff-cover never had a magic config file (in difference to pylint, flake8, coveragepy, etc.) I guess we can stay with an explicit configuration.

To quote the zen pf python
``Explicit is better than implicit.``

Let me create a draft PR t

[2021-08-05 14:54] kasium commented on #233
@Bachmann1234 should tomli be an optional dependency. If yes, I guess we need to say goodbye to requiremtns.txt and hello to setup.cfg/setup.py and extra requirements

[2021-08-05 15:39] Bachmann1234 commented on #233
I think we are going to want to make the dependency optional.

Time to embrace a more modern setup. This weekend I'll setup the repo to use poetry to manage dependencies which should set you up nicely. I'll open that as a pr you can review.

As for the defaults... I guess we will just have to remove those defaults from argparse. Then before calling the tool fill in any defaults that have not been

[2021-08-05 16:23] kasium commented on #233
Cool idea, then let me wait for your PR. I'm happy to review it

[2021-08-10 11:39] WendyLee commented on #150
how can I use it?  Does the command have difference with original code?
diff-cover coverage.xml
It doesn't make any sense.

[2021-08-10 12:19] kasium commented on #61
@Bachmann1234 diff-cover uses chardet to generated the snippets. so are there other places where you see the need? Else this can be closed

[2021-08-10 12:21] kasium commented on #172
@Bachmann1234 can be closed IMHO

[2021-08-10 13:00] #172 closed

[2021-08-10 21:10] Bachmann1234 commented on #61
yeah, I think thats right

[2021-08-10 21:10] #61 closed

[2021-08-11 21:20] #233 closed

[2021-08-12 14:45] tkukushkin opened #237 "diff-quality does not work on Windows with pylint"
On Windows pylint reports violations with windows style paths:
[code]
diff-quality does not find files at these paths and reports no errors.

[2021-08-13 21:31] kasium commented on #237
@tkukushkin let me take a look

[2021-08-13 22:08] kasium commented on #237
You are right, the handling was missing. This PR should add it

[2021-08-15 21:33] #237 closed

[2021-08-15 21:37] Bachmann1234 commented on #237
@tkukushkin please try @kasium 's fix in version https://pypi.org/project/diff-cover/6.3.1/

[2021-08-16 06:40] tkukushkin commented on #237
I checked 6.3.1 and everything is fine, errors reported. Thanks!

[2021-08-18 05:49] tkukushkin opened #239 "diff-cover fails if file path starts with space"
This is not a very real situation, but we had a diff-cover on one of the repositories started to crash and after digging in the code I found that one of the file paths in the diff was determined to be an empty string.

[code]

Regex that parses such lines takes all before first space or new line:
[code]

Traceback:
[code]

[2021-08-18 13:46] Bachmann1234 commented on #239
ah, sounds like we need to strip some spaces. should not be too hard to fix. Thanks for the report.

[2021-08-18 13:53] tkukushkin commented on #239
I didn't describe it well, the file actually has a space at the beginning of the name, this is not git diff formatting.

[2021-08-18 13:55] Bachmann1234 commented on #239
oh, thats more interesting!

[2021-08-19 18:19] kasium commented on #239
@Bachmann1234 do you take a look or should I try to support?

[2021-08-19 18:22] kasium opened #240 "Define private/public API"
As we have seen in https://github.com/Bachmann1234/diff_cover/commit/634d0a17e148f30600df5732a834f6339e5f7659 some people use diff-cover programmatically beside the pure pluggy extension.

Should we define what's public and what's not? Else the python API should follow semantic versioning, shouldn't it?

[2021-08-19 18:23] Bachmann1234 commented on #239
@kasium If you are available and interested go ahead. I was not going to get to it till next week

[2021-08-19 18:27] kasium commented on #239
I'll take a look.
@tkukushkin So, one file you changed/created started with a space, right?

[2021-08-19 18:30] tkukushkin commented on #239
Yes. It was an accident, but it was pretty hard to find the reason

[2021-08-19 18:30] Bachmann1234 commented on #240
I've tried to follow semantic versioning to the package itself. Incrementing the major version whenever I thought there might be breaking changes. Using minor for features, and patch for simple bugs or misc minor stuff.

As for explicitly defining a public api? I'm not so sure. It's unclear to me if there is much demand? I don't really have a great picture of the community of diff cover users beyo

[2021-08-19 19:10] kasium commented on #239
Reproducible example:

1. ``python -m pytest --cov --cov-report=xml tests`` --> generate a coverage.xml
2. Rename ``verify.sh`` to `` verify.sh``
3. ``diff-cover coverage.xml --include-untracked``

[2021-08-19 19:23] kasium commented on #240
Let me try to add some more thoughts: I don't see the demand for a public API, but maybe we should document, that the python code is basically private except the pluggy part. But as shown in the README example:

[code]

So, are ``BaseViolationReporter`` and ``Violation`` public or not? I hope you get my question, which modules/classes should stay stable.

[2021-08-19 19:34] Bachmann1234 commented on #240
Yeah, I see what you are getting at. I think `BaseViolationReporter` and `Violation` are effectively public due to the fact that plugins work by extending `BaseViolationReporter` and implementing methods that return `Violation` so we have to treat those with care. But beyond that I dont think anything is public.

[2021-08-19 19:39] kasium commented on #240
What do you think about adding some line to the README explaining this?

[2021-08-19 19:40] kasium opened #242 "Untracked file starting with a space causes crash"
1. ``python -m pytest --cov --cov-report=xml tests`` --> generate a coverage.xml
2. Rename ``verify.sh`` to `` verify.sh``
3. ``diff-cover coverage.xml --include-untracked``

[code]

git diff seems to remove the space from the file name

[2021-08-19 19:45] kasium commented on #242
Found the line causing it:
https://github.com/Bachmann1234/diff_cover/blob/419379ed791294c12dab9849af996c7ab3368761/diff_cover/git_diff.py#L109

[2021-08-19 19:54] #242 closed

[2021-08-19 20:00] Bachmann1234 commented on #240
I don't feel strongly one way or another. Id happily merge it. But I have
considered the contract mostly implied to this point and its mostly been
fine.

-Matt Bachmann

On Thu, Aug 19, 2021 at 3:39 PM kasium ***@***.***> wrote:

[2021-08-19 20:06] kasium commented on #240
Then I would leave it as it. Just wanted to clarify it so that my changes will cause no harm. Thanks for the feedback and insights!

[2021-08-19 20:06] #240 closed

[2021-08-19 20:07] Bachmann1234 commented on #239
@tkukushkin try https://pypi.org/project/diff-cover/6.3.2/ and see if that works for you. Should include @kasium 's fix.

[2021-08-19 20:12] kasium commented on #239
@Bachmann1234 maybe here is some confusion, The fix I just pushed was for a special case when including untracked files. In the stack trace of @tkukushkin you can see that this happens somewhere in the XML report handler. I guess these are not related. You might want to adjust the change log.

[2021-08-19 20:32] Bachmann1234 commented on #239
My bad. Bouncing between a few things and connected the two. I'll update the changelog now.

I won't bother to yank the release. Sorry for the confusion.

[2021-08-19 20:33] kasium commented on #81
Hi,

just found this issue. I guess making the paths as diff-cover needs them is not too complicated. I see this on our side since eslint refuses to support relative paths in reports (https://github.com/eslint/eslint/issues/13376).

My approach would be:
1. Make the paths relative to the got repository
2. In the case the report was generated on another machine, the part which we want to remove can

[2021-08-19 20:34] kasium commented on #239
Still a valid fix for a corner case. I guess a yank is not needed. Thanks

[2021-08-19 20:37] Bachmann1234 commented on #81
maybe 'base-path' ? or 'root-path'? Or maybe 'repo-root'. Something to imply a root right?

[2021-08-19 20:41] Bachmann1234 commented on #239
So @tkukushkin 6.3.2 wont fix anything for you. I might be able to look into this tonight but sometime next week is more likely

[2021-08-19 21:43] kloczek opened #244 "6.3.2: setuptools `build` fails"
On using sdist source tar ball setuptools `build` command fails
[code]

[2021-08-19 21:51] Bachmann1234 commented on #244
@kloczek So I suspect this issue started with version v6.2.2

diff cover does not have a setup.py anymore and uses a pyproject.toml for its build. I think the command is slightly different now. I use poetry but I wanna say `python -m build` would work as well. Ill check that.

[2021-08-19 21:54] Bachmann1234 commented on #244
Yeah, please see https://setuptools.readthedocs.io/en/latest/build_meta.html

but essentially https://github.com/pypa/build build tool can build the project with `python -m build`.

Or you can use poetry's `poetry build` command

Or you can use the binaries provided on pypi if those work

[2021-08-19 22:07] kloczek commented on #244
Nevertheless sdist pypi tar ball has generated setup.py.
Does it mean that poetry has some bug and generates wrong setup.py?

[2021-08-19 22:32] Bachmann1234 commented on #244
🤔 oh I had not fully realized a setup.py is being generated in the source build.

Sorry, still have a lot to learn I guess. I am poking around and there may be something we can add to the toml to ensure the generated setup.py includes the expected paackage directory... im seeinig an older poetry issues suggesting this. https://github.com/python-poetry/poetry/issues/1338

I should be able to experi

[2021-08-19 22:45] Bachmann1234 commented on #239
Potential fix here https://github.com/Bachmann1234/diff_cover/pull/245 still need to write a test https://github.com/Bachmann1234/diff_cover/pull/245

[2021-08-20 02:28] Bachmann1234 commented on #239
Ok, @tkukushkin give https://pypi.org/project/diff-cover/6.3.3/ a shot and let me know if that works for ya

[2021-08-20 02:32] Bachmann1234 commented on #244
@kloczek Please give https://pypi.org/project/diff-cover/6.3.3/ a shot and let me know if that works for you. I think I found the issue. I was able to build with the source dist.

Sorry again for being too quick to close earlier.

[2021-08-20 05:46] tkukushkin commented on #239
Checked 6.3.3 and everything is fine, no more errors. Thanks!

[2021-08-20 08:21] kloczek commented on #244
No problem .. things happens :)
Just tested and I was able to build package out of sdist tar ball (without any issues)
[code]
Thank you and closing :)

[2021-08-20 08:21] #244 closed

[2021-08-20 08:25] kloczek commented on #244
If may I mention yet another small thing .. :)
Just found that git tree contains bits which are not present in sdist like `tests/`. Is it possible to add those files as well to the sdist to allow use it on building packages? (I'm obligatory trying to include in my packages build procedures execution of the test suites).

[2021-08-20 11:14] Bachmann1234 commented on #244
Im out of town for a few days but I'll look into it next week.

On Fri, Aug 20, 2021, 4:25 AM Tomasz Kłoczko ***@***.***>
wrote:

[2021-08-24 23:37] #239 closed

[2021-08-24 23:49] Bachmann1234 commented on #244
@kloczek 6.3.4 should include the test files

[2021-08-25 11:49] kloczek opened #246 "6.3.4: pythin fails on generate `diff_cover` code bytecode"
I'm trying to package your module as rpm packag. So I'm using typical in such case build, install and test cycle used on building package from non-root account. PArt of the build procedure is in post installation generate .pyc files before finall assemble package out of files installed in /home/tkloczko/rpmbuild/BUILDROOT/python-diff-cover-6.3.4-2.fc35.x86_6.
[code]

[2021-08-25 12:34] Bachmann1234 commented on #246
Because  a text fixture. That happens to be a python file with invalid syntax. Can your tool ignore files in the test fixtures directory? Nothing in there is intended to be imported or executed

[2021-08-29 15:20] eirki opened #247 "Installing diff_cover adds tests to site-packages"
Installing this package via pip adds the `tests` folder as a package in the virtual environments `site-packages`. I.e.:
[code]

This means that it is not possible to use the name `tests` as a module when diff_cover is installed. diff_cover's tests now precedes local modules in the import path. I don't know if this is intentional or not, but it is fairly impractical, as `tests` is a very common mod

[2021-08-29 18:16] Bachmann1234 commented on #247
Oh jeez. I'll fix this. Sorry for the trouble

[2021-08-30 03:31] Bachmann1234 commented on #247
@eirki https://pypi.org/manage/project/diff-cover/release/6.3.5/ should fix this. I went ahead and yanked 6.3.4. Sorry again for the trouble

[2021-08-30 03:31] #247 closed

[2021-08-30 03:32] Bachmann1234 commented on #246
This is no longer relevant as i had to remove the tests due to https://github.com/Bachmann1234/diff_cover/issues/247

[2021-08-30 03:32] #246 closed

[2021-08-30 03:33] Bachmann1234 commented on #244
sorry to flail on this. I had to remove the test dir because doing so polluted the site-packages namespace in a way that felt inappropriate.  https://github.com/Bachmann1234/diff_cover/issues/247

[2021-08-30 07:41] eirki commented on #247
Nothing to apologize for, thanks for the quick fix!

[2021-08-30 11:05] kloczek commented on #244
Build package with 6.3.4 still fails for me but reason is completly differesnt.
Looks like in in some filres are some issues which afe blocking generate python 3.x bytecode
[code]

[2021-08-30 12:33] Bachmann1234 commented on #244
Right, you can't compile the test fixtures. They are not intended to be ran or imported in any way they are not executable code. that directory is not a a module (no __init__.py)

But the point is moot as the most recent version removed the test directory as it pollutes site packages.

[2021-09-02 14:08] julenpardo commented on #26
Hey guys, is there any news regarding this? It would be extremely useful for scenarios in which cloning the repository is not feasible.

[2021-09-03 11:17] kasium commented on #81
@Bachmann1234 I'm sorry for the late follow-up. Currently I stuck how to give the root_path to the quality driver w/o breaking the API of the quality driver.

I cannot give it in the constructor since it's defined in the CLI, but also the parse_reports doesn't work w/o adding another pameter.

Any idea?

[2021-09-03 14:22] Bachmann1234 commented on #81
Is adding an optional kwarg not an option?

IF we wanna break the api a bit I wanna say its possible. I have not gotten
signals that many people have made plugins. I think we could just contact
the SQLFluff project and either provide them a PR or just coordinate.

When we release this i'll increment a major version.

-Matt Bachmann

On Fri, Sep 3, 2021 at 7:17 AM kasium ***@***.***> wrote:

[2021-09-13 06:21] The-Compiler opened #249 "Allow pluggy 1.0.0"
Recently, [pluggy 1.0.0](https://github.com/pytest-dev/pluggy/blob/main/CHANGELOG.rst) was released, but `diff_cover` [depends on](https://github.com/Bachmann1234/diff_cover/blob/1c14c261f6429c7fc5fd6ff25923355b6ee0a4c8/pyproject.toml#L45) `^0.13.1`, i.e. `< 1.0.0`.

There were relatively few backwards-incompatible changes, so I'd expect it to (hopefully) be a drop-in replacement, like it was e.g.

[2021-09-13 14:08] kasium commented on #249
Thanks for the heads up. I opened a PR and waiting for @Bachmann1234 for approval/feedback

[2021-09-14 21:50] #249 closed

[2021-09-17 01:41] #81 closed

[2021-09-17 01:51] Bachmann1234 commented on #81
Try out https://pypi.org/project/diff-cover/6.4.0/ thanks @kasium for the PR !

[2021-09-22 08:07] dvzrv opened #251 "tests not included in sdist tarball"
Hi!

The tests are not included in the sdist tarballs anymore

[2021-09-22 08:19] dvzrv opened #253 "Consider using importlib.metadata over pkg_resources for version retrieval"
On python >= 3.8 it is possible to [use importlib.metadata to retrieve a package version](https://docs.python.org/3.9/library/importlib.metadata.html?highlight=importlib%20metadata#distribution-versions).

This can make [the current scenario of retrieving the package's version](https://github.com/Bachmann1234/diff_cover/blob/cbbdd79adb205681a674a0676be31840254629d7/diff_cover/__init__.py#L1-L3) us

[2021-09-22 11:05] Bachmann1234 commented on #251
Yeah, I had to remove them.

See https://github.com/Bachmann1234/diff_cover/issues/247

On Wed, Sep 22, 2021, 4:08 AM David Runge ***@***.***> wrote:

[2021-09-22 11:08] Bachmann1234 commented on #253
So I considered this, but since I support versions earlier than 3.8 I could
not use it.

Is the setup tools dep causing an issue? Isn't it already installed if you
are using pip?

On Wed, Sep 22, 2021, 4:19 AM David Runge ***@***.***> wrote:

[2021-09-22 11:16] dvzrv commented on #251
That issue relates to the (wrongful) installation of the tests as a global package though. Using poetry (see #252 ) you can add these files only to the sdist tarball (from which to test and build a package), but specifically not to the list of packages that will be installed.

I have successfully used this in several projects (e.g. in [arch-release-promotion](https://gitlab.archlinux.org/archlinux

[2021-09-22 11:20] Bachmann1234 commented on #251
Gotcha, yeah, in looking at the pr and I see how it puts the tests in sdist specifically.

I'll play around with it later (might not be till later this week) and get it merged if I don't see anything

Thanks!

[2021-09-22 11:25] dvzrv commented on #253
I understand.
It is possible to e.g. conditionally import from importlib.metadata. It will fail on python < 3.8, in which case the exception would be to import from pkg_resources.

If you are interested in that I could provide a PR for that.

It is not necessarily causing an issue, but it introduces a dependency due to a feature, that can be handled implicitly with python >= 3.8. In the context of

[2021-09-22 11:27] dvzrv commented on #251
Cool, no hurry :)

[2021-09-22 11:41] Bachmann1234 commented on #253
I understand how to conditionally import.

But I just did not see the benefit here. I am unaware of any real world
impact of having to have _some_ version of setup tools installed causes.

Are you using a workflow where setuptools is not already installed?

I'm open to being wrong here. I'm honestly curious.

On Wed, Sep 22, 2021, 7:25 AM David Runge ***@***.***> wrote:

[2021-09-22 12:08] dvzrv commented on #253
Sorry, I did not want to imply otherwise :smile:

As mentioned in the previous comment, this is not a "problem", aside from having an additional dependency installed.

Generally (and I can only speak from my perspective, doing Python system packaging), setuptools is only required for e.g. building and installing a Python package in the context of system packaging in most cases by now (unless there

[2021-09-22 12:22] Bachmann1234 commented on #253
Alrighty. Help me out with the syntax to specify a requirement for python versions < 3.8 and I'll setup the pr.

[2021-09-22 21:39] dvzrv commented on #253
Something similar has just been achieved for qtile and I guess it can be of use here too! :)

https://github.com/qtile/qtile/pull/2811/files

[2021-09-22 22:29] Bachmann1234 commented on #253
Yeah, it's most likely the pyproject.toml I'm wondering about

I need to find if there is a syntax for "if your python version is less
than 3.8 you need setuptools"

If I can't find that I guess I can just not include the dependency and
fallback to an error message in the version command.

But I'd prefer not to do that if I can avoid it

On Wed, Sep 22, 2021, 5:40 PM David Runge ***@***.***> wrote

[2021-09-23 15:49] kasium commented on #253
@Bachmann1234 you can use that one: https://python-poetry.org/docs/dependency-specification/#python-restricted-dependencies

[2021-09-23 16:06] Bachmann1234 commented on #253
Lol, I could have sworn I looked back when I first ported to the toml from setup.py

But guess not hard enough.

Thanks. I should be able to get to this tomorrow. If not then the weekend

[2021-09-23 16:07] kasium commented on #253
Yes, it was a little bit hidden and hard to find if you don't know the keywords 😄 . Thanks for adding

[2021-09-24 12:47] FlyHuss opened #254 "why coverage report total line different git?"
diff-cover report:
Total: 197 lines.
Missing: 104 lines.
Coverage: 47%.

but git review is +567 -23

[2021-09-24 15:23] Bachmann1234 commented on #254
This is really not possible for me to answer without a repo and the report to look at.

I will say there are plenty of potential reasons.

The most likely thing is that there are lines in the diff that are simply not in the report. Either they were not collected by the coverage tool.... or they were not relevant (for example editing config files or templates).

Its possible there is a bug here but

[2021-09-24 22:29] Bachmann1234 commented on #253
@dvzrv @kasium https://github.com/Bachmann1234/diff_cover/pull/255 is my attempt to address. Thanks for pointing me to the right docs!

@dvzrv your PR had an issue. I proposed a fix. If you make that update ill merge that and this and just release the two together

[2021-09-25 11:42] dvzrv commented on #253
@Bachmann1234 thanks! I applied the fix (I think you have to bump it again so that the tests are run).

[2021-09-25 12:09] Bachmann1234 commented on #253
@dvzrv so the code looks the same to me. I went ahead and let the tests re run but I think something got confused

[2021-09-26 01:32] #251 closed

[2021-09-26 16:33] Bachmann1234 commented on #253
this is out! Thanks for the support https://pypi.org/project/diff-cover/6.4.1/

[2021-09-26 16:33] #253 closed

[2021-09-26 16:34] Bachmann1234 commented on #251
This is out! Thanks https://pypi.org/project/diff-cover/6.4.1/

[2021-09-26 16:34] Bachmann1234 commented on #251
Thanks again!

[2021-09-26 17:21] kasium commented on #253
@Bachmann1234 great 😄

[2021-09-30 07:17] grasp opened #256 "python setup.py install"
where is setup.py in readme?

- git clone https://github.com/Bachmann1234/diff-cover.git
- cd diff-cover
- python setup.py install

[2021-09-30 12:06] Bachmann1234 commented on #256
This project does not use a setup.py. it's built is setup via pyproject.toml

To install it either grab it via pip

Or go to pypi directly and download a wheel

Or install poetry and build the wheel yourself by running 'poetry build' from the repo root

[2021-11-07 14:41] fernandobrito commented on #179
Hi @Bachmann1234, sorry for the absence, but now I'm back 👋 .

For our use case in my company (running `diff-quality` on a subfolder on a mono-repository) we need both (1) to have absolute paths provided to the linting tool but also (2) that only the modified files within that subfolder are passed to the linting tool.

I just saw that one month after my last comment in this issue, @kasium contribu

[2021-11-21 10:20] fernandobrito commented on #179
I gave it a quick try this weekend and it looks more complicated than I thought 😅.

My goal was to have either the absolute path or the relative path (relative to the current folder, and not relative to the git root) passed to the drivers, but then I realized that I might need to convert the paths back to being git root relative after parsing the command results and before passing it back to the r

[2021-11-22 06:53] kasium commented on #179
@fernandobrito maybe the work in https://github.com/Bachmann1234/diff_cover/commit/dfd593605a8990d6f930bac1a65f24b42d7d3eca can also help?

[2021-11-23 06:52] dmcconnell-m commented on #55
I was able to get this to work in GitHub Actions by doing 2 separate checkouts in my workflow (1 for master / main first, then the branch / ref that triggered the workflow, my PR branch in my case):

[code]
I have added this in case anyone else is trying to get diff_cover working with GitHub Actions

[2021-11-23 09:58] blueyed commented on #134
I've just tested this using `--show-uncovered`, but noticed that the line numbers are off: they start with 1 for every displayed hunk, and therefore it is not possible to tell which line(s) are uncovered.

E.g.
[code]

[2021-11-23 14:01] blueyed opened #258 "Display completely covered files separately"
With a lot of files it is hard to grasp which files are not covered completely, if there are only 1-2 out of 20+ files not being covered 100%.
(often using `grep -v` can be helpful then, but is not available on CI ;))

Therefore I think it would be good if completely covered files would be displayed in a separate section/paragraph, in case there are completely and only partially covered files.

(P

[2021-11-23 19:28] kasium commented on #134
I guess this is a general issue with the templates. So also markdown and html reports are affected as far as I can tell

[2021-11-30 09:57] dvzrv opened #259 "Remove jinja2_pluralize dependency"
The jinja2_pluralize dependency is technically not required, as [jinja2 supports pluralize](https://jinja2docs.readthedocs.io/en/stable/templates.html#i18n) via [the i18n extension](https://jinja2docs.readthedocs.io/en/stable/extensions.html#i18n-extension).

Additionally, the jinja2_pluralize upstream is completely unresponsive and its 0.3.0 release on pypi.org can not be accounted for in its sou

[2021-11-30 11:56] Bachmann1234 commented on #259
I think I should be able to look into this sometime this week

[2021-12-02 23:54] #259 closed

[2021-12-03 00:04] Bachmann1234 commented on #259
@dvzrv take a look at https://pypi.org/project/diff-cover/6.4.3/

thanks for the tip. Love dropping deps.

[2021-12-03 01:18] kloczek opened #261 "6.4.3: pytest is failing because missing 'datadir' fixture"
I'm trying to package your module as an rpm package. So I'm using the typical build, install and test cycle used on building packages from non-root account.
- `python3 -Bm build --no-isolation -w`
- install .whl file in </install/prefix>
- "pytest with PYTHONPATH pointing to sitearch and sitelib inside </install/prefix>

Looks like I have something missing in package build dependencies but I canno

[2021-12-03 01:22] Bachmann1234 commented on #261
Quick question, did 6.4.2 work?

`pytest data-dir` is a dev dependency. (defined here https://github.com/Bachmann1234/diff_cover/blob/main/pyproject.toml#L53)  I wonder if this build command is not installing those?

[2021-12-03 01:25] kloczek commented on #261
Yes the same set of BuildRequires was OK for 6.4.2.

[2021-12-03 01:29] kloczek commented on #261
`pytest-datadir` was exactly that missing module :)
Thank you.
Closing.
[code]

[2021-12-03 01:29] #261 closed

[2021-12-03 01:29] Bachmann1234 commented on #261
awesome!

[2021-12-03 09:29] dvzrv commented on #259
Cool! That allows me to drop that package as well :)
Thanks a lot!

[2021-12-06 08:01] hdw868 commented on #123
same issue here

[2021-12-06 08:10] peterg79 commented on #123
@hurenjie2019 there's no code coverage implemented for css files, as they are style sheets, not program code.

@hdw868 please attach some files: the coverage xml file, and the git diff (if your company policy does not let you attach, you can do `git diff --name-only`).

Most of the cases it simply means the coverage data and the diff is mutually exclusive. E.g. you measure coverage for your *.java

[2021-12-06 08:38] hdw868 commented on #123
@peterg79
the coverage.xml: it's exceeding 65535 characters and I can not paste it here. maybe I can paste only part of the content based on the below info?
git diff --name-only:
[code]

[2021-12-06 08:49] peterg79 commented on #123
@hdw868 please add the output of the following command:
`grep -o sourcefile coverage.xml`

[2021-12-06 11:01] hdw868 commented on #123
@peterg79
output of `xmllint --format coverage.xml | head`:
[code]
for output of `xmllint --format coverage.xml | grep 'source\|src'`, as the result will be too sensitive to post here, could you tell me what kind of data are you looking for? I can see none of the files listed for  the output of `git diff --name-only` could be found here.

[2021-12-06 14:19] Bachmann1234 commented on #123
I mean, ideally some thing someone here could use to reproduce the issue ourselves.

In the past I've made small repos demonstrating the issue. Really makes it easier to pin down whats happening.

[2021-12-08 12:01] peterg79 commented on #123
First I want to see that the list of files changed, and the list of files having coverage information overlaps. If they do, I'd like to see the line numbers.

If your data is too sensitive you cannot share, then you'll need to be more involved. Either by demonstrating the issue with a small, public repository, or do the debugging yourself: validate if there's overlapping file/line pairs in the dif

[2021-12-08 12:36] hdw868 commented on #123
@peterg79 thanks for the detailed response! One thing not clear to me is that:
The output "No lines with coverage information in this diff." practically means that the two sets of data are mutually exclusive, in which case the tool cannot give you any information.

If no lines with coverage information in this diff, should not the coverage result be 0%? Is it because that even no unit test is writ

[2021-12-08 12:51] peterg79 commented on #123
The coverage file has coverage info for your whole repository, so the overall coverage can be any percentage.

e.g. if you have 100% coverage for sole of your files, like `src1.go` and `src2.go`, and you add a new file called `src3.go` but your coverage data is unchanged, this is what you'll have:
git diff --name-only:
[code]
coverage.xml:
[code]

[2021-12-09 10:32] lirui311012 opened #263 "Add note, incremental coverage is 0"
After integrating diff-cover, a line of code appears to be commented out, and the incremental code coverage is 0. How to solve this？
I think adding a line of comment code, this line of code will not be compiled, then the denominator of the incremental coverage should be 0, so the coverage should be 100%

[2021-12-09 12:05] Bachmann1234 commented on #263
Does diff cover report any missing lines? In the scenario you described I would not expect diff cover to report any lines as missing ...

Can you show an example?

[2021-12-12 04:07] lirui311012 commented on #263
for example:
Unmodified code：
    src/test.cpp
    #include <iostream>
    using namespace std;
    int main()
    {
        int a = 10;
        int b=  20;
        int c = a + b;
        cout << (a + b) << endl;
        return 0;
    }
Modified code：
    src/test.cpp
    #include <iostream>
    using namespace std;
    int main()
    {
        int a = 10;
        int b=  20;
        // int c = a

[2021-12-12 04:35] Bachmann1234 commented on #263
It sounds like the coverage report is returning something incorrect? Diff cover does not compute coverage itself.

It takes coverage computed by another tool and compares it to the diff.

So if the underlying coverage tool is reporting the wrong thing then you need to look at that tool.

[2021-12-31 07:49] lirui311012 opened #265 "How diff-cover excludes multiple paths"
diff-cover -- exclude
I want to filter out all files in the test directory and third_party directory through the exclude parameter
How should I write the --exclude parameter？ thank you!

[2021-12-31 07:50] lirui311012 commented on #265
I have successfully excluded a directory, now I want to exclude two directories

[2021-12-31 08:23] lirui311012 commented on #265
solved，thanks

[2022-01-08 17:01] zeavielly commented on #265
Hi, can you please share the solution? I am trying to run diff-cover from bash with multiple paths and it doesn't seem to work.
if I use
`--exclude *a/b/c/* --exclude *b/c/d* ...` -> it only excludes the last solution and if I use
`--exclude *a/b/c* *b/c/d* ...` -> it throws an error that invalid argument exception.

Thank you

[2022-01-08 19:24] Bachmann1234 commented on #265
@zeavielly I'll admit it's been a while and I'll have to experiment a bit but I would have expected `--exclude *a/b/c* *b/c/d*` to work in theory.

Perhaps quoting them?

`--exclude "*a/b/c*" "*b/c/d*"`

[2022-01-09 09:18] kloczek opened #266 "6.4.4: pytest is failing in `tests/test_snippets.py::test_style_defs` unit"
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes oly locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH pointi

[2022-01-09 17:55] Bachmann1234 commented on #266
@kloczek I cant reproduce this behavior running the tests within github action or my local environment.

I wonder if something got weird with deps in your build? Bit of a stab in the dark but is Pygments at 2.10.0 in your setup?

[2022-01-11 06:11] warsaw opened #267 "Option to skip diff-cover when not in a git repository"
I have the following commands in my `tox.ini` `[testenv]` section:

[code]

I'd like for `tox` to be runnable from an unpacked sdist, but that won't be in a git repository, so it fails like so:

[code]

I can prefix the `diff-cover` command with `-` in my `tox.ini` so the error won't fail the test, but I'd rather provide an option to `diff-cover` that essentially says "skip me without an error if

[2022-01-14 22:02] Johney9 opened #269 "XML coverage report"
Hello, great tool! Was a challange to get it working, but after finally wrestling with it for a while, I got a report.
Trouble is, as far as I can tell it can only output to console or generate an HTML report.

Is there a way to generate an XML report? Essentially just make a report on the _diff_.
If not, how would I go about implementing this feature and making a PR?

[2022-01-14 23:47] Bachmann1234 commented on #269
So check out the `--json-report` option.

If you wanted to make an xml version the code would be fairly similar.

To be merged it would need tests and support both diff cover and diff quality.

But if json handles your usecase that's cool as well

[2022-01-17 11:41] m-aciek opened #270 "False negatives for function calls splitted along multiple lines"
Hi, thanks for this library. It is very helpful in our project!

I think I found an issue, false negative, that affects overall quality of diff-cover check in a specific use case.

I use diff-cover 6.4.4 with coverage.py in version 6.2 through pytest-cov in version 3.0.0 with Cobertura XML report.

* Recently I updated function call in my production code (the signature of the function I use change

[2022-01-17 18:11] Bachmann1234 commented on #270
Reading over the issue it almost sounds like the coverage report was not regenerated after the change?

"I think that probably diff-cover ignores lines without coverage report"

If a line is not in the coverage report at all that suggests the report is stale in some way. If the coverage report was not generated against the most up to date version of the branch I would think the behavior would be u

[2022-01-17 22:28] m-aciek commented on #270
I've made a small example repository: https://github.com/m-aciek/diff_cover_multiline_signature.

XML generated for my example is following:

[code]
Coverage.py utility treats first line of a function call as a line to report on. If the call is splitted across multiple lines, change in a line other than first will be missed.

False negative

[code]
[code]

True positive (single line instead of mul

[2022-01-17 22:57] Bachmann1234 commented on #270
Thanks, ill make some time in the next few days to look at this closely. I starred and cloned the repo.

[2022-01-20 03:13] Bachmann1234 commented on #270
@m-aciek

Ok yeah, I see the issue now. Had to run your example myself and really stare at it for a bit. Im actually somewhat shocked this has not come up before.

At the same time I am fairly stumped on how to deal with this.

The coverage report is reporting at the start of the statement. While the diff only cares about the literal line changed.

Each tool is doing the right thing. But it breaks

[2022-01-20 03:16] Bachmann1234 commented on #270
I wonder if the answer here is to report on lines in the diff we could not line up to the report.

[2022-01-20 14:27] m-aciek commented on #270
Thank you for looking into this. In my opinion there are couple of more ways to go forward with it:
* Investigate if Cobertura XML format is capable of storing metadata about what lines are covered by a statement being reported.
* Investigate if native coverage metadata format (`.coverage` SQLite file) contains such data, about numbers of lines that cover a multiline reported statement. If yes, co

[2022-01-22 20:49] Bachmann1234 commented on #270
I think the next step here is to open an issue with coveragepy and see if they have advise. I recall the SQLite database recently added but I vaguely recall that being considered private and not something I would wanna rely on.

The cobertura format last time I tried to investigate it is not terribly well documented.

but Ned is typically pretty helpful and he may have some ideas or thoughts.

[2022-02-24 03:46] xiak opened #272 "The script will fail If no string 'clover' in clover xml"
#

I checked the source code vialations_reporter.py, there is only way to check the type of xml

[code]

I used phpunit to generate clover report, Unfortunately there is no string "clover"........
[code]

[2022-03-21 15:35] JimKlein-AIS opened #273 "diff-quality --violations sqlfluff not working with default Flyway script names"
I found that the diff-quality tool was not flagging the same issue as the sqlfluff lint command and did some digging.

I copied the contents of the file (which I know has the L062 issue I am trying to block) into a file called test.sql and put it in the same folder.  That error was flagged.  Flyway naming convention uses two underscore characters ('__') to delineate the prefix from the file name (

[2022-03-22 02:30] Bachmann1234 commented on #273
🤔 I doubt there is a _good_ reason for this behavior. Let me take a quick look and see if I can figure out whats going on.

[2022-03-22 02:55] Bachmann1234 commented on #273
@JimKlein-AIS I could be missing something but I attempted to reproduce this and was not able to

Can you take a look at this test repo I created using the directory structure implied from your screenshot? I did not literally use flywheel as I assumed the filename was the issue here.

https://github.com/Bachmann1234/diff_cover_issue-273/tree/fail

[code]

[2022-03-22 03:24] JimKlein-AIS commented on #273
I just changed my .sqlfluff to use L006 (the file had sql that didn’t have spaces before and after ‘=’) and it caught that.  I think this is pointing more towards the L062 code.

Thanks again.

Jim Klein
Solution Advisor
Office of the CTO
M: 410-952-4745
***@***.******@***.***>

Applied Information Sciences (AIS)
www.ais.com<https://nam11.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.ais.

[2022-03-22 03:36] JimKlein-AIS commented on #273
I am on the same versions as you and now I can’t get it to fail.  I believe I upgraded from 0.11.0 yesterday and have rebooted my machine since then.  Is it possible the reboot was needed for this to take effect?

Jim Klein
Solution Advisor
Office of the CTO
M: 410-952-4745
***@***.******@***.***>

Applied Information Sciences (AIS)
www.ais.com<https://nam11.safelinks.protection.outlook.com/?url=h

[2022-03-22 04:00] mattbachmann-toast commented on #273
I would not expect a reboot to be needed. But I know python environments have a funny way of getting mixed up.

[2022-03-23 03:49] Bachmann1234 commented on #273
So wait, does this mean the issue can be closed?

[2022-03-25 19:12] JimKlein-AIS commented on #273
I think so Matt.  I am currently working this into an Azure DevOps Pipeline (actually 8 pipelines), but I don't expect this to show up.  I've been able to test install it and running versions on both products in a linux based build machine and that worked without issues.  Thanks again for your quick responses.

[2022-04-06 07:06] Cyanoderma commented on #267
Hello,I want to ask you some questions.Do you now have some progress about this problem? I also want to use diff cover without git.I want to use diff cover in SVN!!!

[2022-04-06 07:10] Cyanoderma commented on #150
Can I use your code in SVN?? The original code must using git,I'm very sad.....

[2022-04-07 01:17] schinckel commented on #182
Yes, I just noticed that branch-coverage (as coverage.py calls it) is not reported upon.

[2022-04-14 15:34] kozlovsky opened #276 "diff-quality fails with ValueError: invalid literal for int() with base 10: '470]'"
When running `diff-quality` tool I have the following exception:

[code]

The reason for this is the following: `violations_reporter` expects, that the output for duplicating lines looks like:
[code]
but it can look like:
[code]
And the [`multi_line_violation_regex`](https://github.com/Bachmann1234/diff_cover/blob/61a0ae286a54e7fcbacf063d339ddace6fd84155/diff_cover/violationsreporters/violations_r

[2022-04-16 01:30] Bachmann1234 commented on #266
This should be resolved now

[2022-04-16 01:30] #266 closed

[2022-04-16 01:31] #276 closed

[2022-04-16 01:40] Bachmann1234 commented on #276
Thanks @kozlovsky check out https://pypi.org/project/diff-cover/6.5.0/

[2022-04-16 03:18] kloczek commented on #266
Tested and all looks clean now 😃
[code]
Thank you 😄

[2022-04-16 21:28] kozlovsky commented on #276
Thanks, it works!

[2022-04-21 07:42] ybhou1993 opened #278 "The diff result show the code changed which is not actually"
The result show the code changed which is not actually. This happens after someone commit another file. This sound unresonable.
![image](https://user-images.githubusercontent.com/4455911/164404132-6a225d69-e1a8-4217-8c97-bafb590ef6c6.png)

The only difference I found  is that the line number of the code has been changed. Please take a look at this question
The code of master:
![image](https://user

[2022-05-27 06:49] StruggleYang commented on #105
good.i need it

[2022-06-02 06:42] lirui311012 opened #279 "How to get rid of evaluation of #ifdef"
such as:
![image](https://user-images.githubusercontent.com/54886041/171568875-c35651b4-f6e0-4293-9cf2-087469a16222.png)
How to ignore #ifdef and #endif in images ？

[2022-06-02 12:07] Bachmann1234 commented on #279
Diff cover works from the underlying report. So the way to get diff cover to ignore it is to get your coverage tool to ignore it when generating it's report.

[2022-06-22 20:19] kloczek opened #281 "6.5.0: pytest is failing"
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH point

[2022-06-22 20:22] Bachmann1234 commented on #281
yeah, this test is very fragile to minor changes to deps... ill take a look asap

[2022-06-22 22:09] Bachmann1234 commented on #281
@kloczek try out https://pypi.org/project/diff-cover/6.5.1/

[2022-06-23 00:47] simon-bennett-aql opened #283 "The option --show-uncovered does not show the correct line numbers"
The following command produces different output between the console and the html report.
`diff-cover --show-uncovered --html-report diff-report.html coverage.xml`

Specifically, the line number is correct in `diff-report.html`, but incorrect in the terminal output.

[code]

Indicative HTML report:
![image](https://user-images.githubusercontent.com/30986566/175183559-64d8a1ef-f1aa-4544-af6d-f8d383f

[2022-06-23 07:58] rkochharexp opened #285 "CodeQL Vulnerability due to jinja"
On running codeQL scan for diff-cover, it shows a vulnerability : https://codeql.github.com/codeql-query-help/python/py-jinja2-autoescape-false/

Created a PR which resolves this:
https://github.com/Bachmann1234/diff_cover/pull/284

[2022-06-27 15:53] #281 closed

[2022-08-23 22:23] warsaw opened #287 "diff-cover breaks in GitLab CI due to strange git failure"
I'm working on a [new PR for flufl.enum](https://gitlab.com/warsaw/flufl.enum/-/merge_requests/3), and as part of the CI, I run [diff-cover](https://gitlab.com/warsaw/flufl.enum/-/merge_requests/3/diffs#61be067c7cf3bdbf8a6b021a2b5167eb30612d0c_6_16).  This works perfectly fine on my local dev machine, but breaks in CI when run on the ["active" Python CI image](https://gitlab.com/python-devs/ci-ima

[2022-08-24 04:41] warsaw commented on #287
The problem is that, yes you need to `git config --global --add safe.directory` but you *also* need to be sure that `$HOME` is passed into the tox execution environment.  Otherwise the `git config --global` outside of tox doesn't match up with the `git config --global` that `diff-cover` implicitly finds when it runs `git`.

I'm not quite sure why `passenv` didn't work in my `tox.ini`, but I can us

[2022-08-24 04:41] #287 closed

[2022-08-27 03:33] ento commented on #270
I ran into this with a TypeScript project; I made a small PR that modifies a multi-line `const` declaration which looks like this:

[code]

The project generates coverage report through jest, and the resulting (cobertura) report only includes the `const ...` line. Library versions used:

- @jest/core 26.6.3
- istanbul-reports 3.1.4 (supports various coverage report formats, including clover)

At t

[2022-09-19 20:28] prescod opened #288 "Title for diff reports does not incorporate diff-range-notation"
Thanks for the great tool. Very handy!

I notice that when the `diff-range-notation` is ".." the 'diff title' is still `Diff: origin/main...HEAD` (three dots instead of two)

[code]

[2022-09-19 22:53] Bachmann1234 commented on #288
Yeah, looks like we are hardcoding this.

I think https://github.com/Bachmann1234/diff_cover/pull/289 will fix it

[2022-09-19 23:10] #288 closed

[2022-09-19 23:20] Bachmann1234 commented on #288
@prescod try version 7.0.0. I hope you are not using python 3.6 since I ended up dropping it in this release

https://pypi.org/project/diff-cover/7.0.0/

[2022-09-19 23:26] kloczek opened #290 "7.0.0: pytest is failing in 4 units"
I'm packaging your module as an rpm package so I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH pointing to si

[2022-09-20 00:17] Bachmann1234 commented on #290
7.0.1 should fix this

[2022-09-20 00:17] #290 closed

[2022-09-20 09:33] kloczek commented on #290
Yep 7.0.1 is OK now
[code]
Thank you 👍

[2022-10-11 09:24] JimKlein-AIS commented on #273
Thanks for looking into this so quickly.  I’ve included my .sqlfluff and problem file for you to look at (I will also attempt to use your test repo).  I am wondering if this could be strictly related to L062, since that is the only one I am running for this POC.  I noticed when I was trying to use some of the flags from sqlfluff, it ignored them.

Jim Klein
Solution Advisor
Office of the CTO
M: 41

[2022-11-04 02:56] zheningy commented on #132
Hi, I think your point is good. Do diff_cover support it or is there other tools we could use for this requirement?

[2022-11-13 18:22] ptzz opened #293 "Multiple options with `--options`"
With this command:
[code]
`cppcheck` fails to parse the options. It works fine with a single argument.

I'm guessing the problem is that the `--options` argument is passed as a single argument to `cppcheck´. Is there any way to pass multiple args to the underlying quality checker?

[2022-11-13 20:17] #293 closed

[2022-11-13 20:27] Bachmann1234 commented on #293
@ptzz released with v7.0.2

[2022-11-17 12:39] madest92 opened #295 "Empty XML report return no lines"
If there are no tests in the project(coberture file is empty), then diff-cover does not see the changes.
I have added new code. And expect coverage difference to be 0.
[code]

But I'm getting:
[code]

[2022-11-26 21:31] barrywhart opened #299 "Add support for report generator plugins that process modified files as a batch, rather than individually"
SQLFluff implements the `diff-quality` plugin protocol. SQLFluff users have requested that the `diff-quality` integration should take advantage of SQLFluff's multiprocessing capability (processing files in parallel across multiple processes).

In order to do this, `BaseReportGenerator._diff_violations()` would need to be modified to call a different function if provided by the plugin, e.g. `violat

[2022-11-30 12:35] barrywhart opened #303 "Improve error reporting when "git" is not found"
If `git` is not installed or isn't in the user's `PATH`, `diff-quality` fails with an error that non-technical (SQLFluff, other?) users find confusing:
[code]

Perhaps it could catch this error and print a message something like:
[code]

It could also link to this page, which has instructions for installing git on various OSes.

https://git-scm.com/book/en/v2/Getting-Started-Installing-Git